<div class="content">
  <div id="top-space"></div>
  <div class="short-info"><app-short-info></app-short-info></div>
  <div class="project-info mtt"><app-project-info></app-project-info></div>
  <div class="part-one"><app-part-one></app-part-one></div>
  <div class="part-two"><app-part-two></app-part-two></div>
  <div class="part-three"><app-part-three></app-part-three></div>
  <div id="lets-work" class="lets-work padding010">
    <app-lets-work></app-lets-work>
  </div>
  <div id="footer"><app-footer></app-footer></div>
</div>
