.content {
  background-color: #000000;

  .part-one,
  .part-three {
    margin-top: 10.416666666666666vw;
  }

  .lets-work {
    position: absolute;
    top: 967vw;
    width: 100%;
  }

  #footer {
    margin-top: 26vw;
  }
}

.rounded-45 {
  border-radius: 2.34375vw;
}

@media screen and (max-width: 414px) {
  .content {
    .part-one,
    .part-three {
      margin-top: 25.641025641025642vw;
    }

    .lets-work {
      padding: 0 2.5641025641025643vw;
      top: 2540vw;
    }

    #footer {
      margin-top: 145vw;
    }
  }
}
