.content {
  background-color: #000000;

  .part-one,
  .part-three {
    margin-top: 10.416666666666666vw;
  }

  .lets-work {
    position: absolute;
    top: 967vw;
    width: 100%;
  }

  #footer {
    margin-top: 26vw;
  }
}

.rounded-45 {
  border-radius: 2.34375vw;
}
