<div
  waIntersectionObserver
  (waIntersectionObservee)="
    intersectionService.onIntersection($event, 'blockAppearFadeSm', 'hidden')
  "
  class="team hidden"
>
  <div class="title">
    <p>Команда</p>
  </div>
  <div class="content">
    <div class="item card artem-card">
      <div class="avatar">
        <img
          [src]="images.artem.link"
          [alt]="images.artem.description"
          draggable="false"
        />
      </div>
      <div class="name">
        <p>
          Артём <br />
          Бергевич
        </p>
      </div>
      <div class="role">
        <p>Лид-дизайнер</p>
      </div>
    </div>
    <div class="item card ilana-card">
      <div class="avatar">
        <img
          [src]="images.ilana.link"
          [alt]="images.ilana.description"
          draggable="false"
        />
      </div>
      <div class="name">
        <p>
          Илана <br />
          Мизиева
        </p>
      </div>
      <div class="role">
        <p>Проджект-менеджерка</p>
      </div>
    </div>
    <div class="item card">
      <div class="avatar">
        <img
          [src]="images.albina.link"
          [alt]="images.albina.description"
          draggable="false"
        />
      </div>
      <div class="name">
        <p>
          Альбина <br />
          Разумовская
        </p>
      </div>
      <div class="role">
        <p>Дизайнерка</p>
      </div>
    </div>
    <div class="item card">
      <div class="avatar">
        <img
          [src]="images.ilyaK.link"
          [alt]="images.ilyaK.description"
          draggable="false"
        />
      </div>
      <div class="name">
        <p>
          Илья <br />
          Куртенко
        </p>
      </div>
      <div class="role">
        <p>Дизайнер</p>
      </div>
    </div>
    <div class="item card">
      <div class="avatar">
        <img
          [src]="images.danya2.link"
          [alt]="images.danya2.description"
          draggable="false"
        />
      </div>
      <div class="name">
        <p>
          Даня <br />
          Юркин
        </p>
      </div>
      <div class="role">
        <p>Дизайнер</p>
      </div>
    </div>
    <div class="item card ilyaU-card">
      <div class="avatar">
        <img
          [src]="images.ilyaU.link"
          [alt]="images.ilyaU.description"
          draggable="false"
        />
      </div>
      <div class="name">
        <p>
          Илья <br />
          Устинов
        </p>
      </div>
      <div class="role">
        <p>Концептуальный дизайнер</p>
      </div>
    </div>
    <div class="item card maksim-card">
      <div class="avatar">
        <img
          [src]="images.maksim.link"
          [alt]="images.maksim.description"
          draggable="false"
        />
      </div>
      <div class="name">
        <p>
          Максим <br />
          Худяков
        </p>
      </div>
      <div class="role">
        <p>Моушн и 3D дизайнер</p>
      </div>
    </div>
    <a href="https://nnabse.github.io" target="_blank" draggable="false">
      <div class="item card bogdan-card">
        <div class="avatar">
          <img
            [src]="images.bogdan.link"
            [alt]="images.bogdan.description"
            draggable="false"
          />
        </div>
        <div class="name">
          <p>
            Богдан <br />
            Володин
          </p>
        </div>
        <div class="description">
          <div class="role">
            <p>Разработчик</p>
          </div>
          <div class="arrow">
            <img
              [src]="icons.arrowTop.link"
              [alt]="icons.arrowTop.description"
              draggable="false"
            />
          </div>
        </div>
      </div>
    </a>
    <a href="https://vlapsk1y.dev" target="_blank" draggable="false">
      <div class="item card vova-card">
        <div class="avatar">
          <img
            [src]="images.vova.link"
            [alt]="images.vova.description"
            draggable="false"
          />
        </div>
        <div class="name">
          <p>
            Владимир <br />
            Лапский
          </p>
        </div>
        <div class="description">
          <div class="role">
            <p>Разработчик</p>
          </div>
          <div class="arrow">
            <img
              [src]="icons.arrowTop.link"
              [alt]="icons.arrowTop.description"
              draggable="false"
            />
          </div>
        </div>
      </div>
    </a>
    <a href="https://t.me/lneftl" target="_blank" draggable="false">
      <div class="item card talents">
        <div class="avatar">
          <img
            [src]="icons.plus.link"
            [alt]="icons.plus.description"
            draggable="false"
          />
        </div>
        <div class="name">
          <p>
            Ищем <br />
            таланты
          </p>
        </div>
        <div class="description">
          <div class="role">
            <p>Отправьте резюме</p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
