<div
  waIntersectionObserver
  (waIntersectionObservee)="
    intersectionService.onIntersection($event, 'blockAppearFadeSm', 'hidden')
  "
  class="team hidden"
>
  <div class="title">
    <p>В главных ролях</p>
  </div>
  <div class="content">
    <div class="item card artem-card">
      <div class="avatar">
        <img
          [src]="images.artem.link"
          [alt]="images.artem.description"
          draggable="false"
        />
      </div>
      <div class="name">
        <p>
          Артём <br />
          Бергевич
        </p>
      </div>
      <div class="role">
        <p>Лид-дизайнер</p>
      </div>
    </div>
    <div class="item card">
      <div class="avatar">
        <img
          [src]="images.ilana.link"
          [alt]="images.ilana.description"
          draggable="false"
        />
      </div>
      <div class="name">
        <p>
          Илана <br />
          Мизиева
        </p>
      </div>
      <div class="role">
        <p>Проджект</p>
      </div>
    </div>
    <div class="item card">
      <div class="avatar">
        <img
          [src]="images.albina.link"
          [alt]="images.albina.description"
          draggable="false"
        />
      </div>
      <div class="name">
        <p>
          Альбина <br />
          Разумовская
        </p>
      </div>
      <div class="role">
        <p>Дизайнерка</p>
      </div>
    </div>
    <div class="item card liza-card">
      <div class="avatar">
        <img
          [src]="images.liza.link"
          [alt]="images.liza.description"
          draggable="false"
        />
      </div>
      <div class="name">
        <p>
          Лиза <br />
          Швецова
        </p>
      </div>
      <div class="role">
        <p>Дизайнерка</p>
      </div>
    </div>
    <div class="item card">
      <div class="avatar">
        <img
          [src]="images.maksim.link"
          [alt]="images.maksim.description"
          draggable="false"
        />
      </div>
      <div class="name">
        <p>
          Максим <br />
          Худяков
        </p>
      </div>
      <div class="role">
        <p>Моушн-дизайнер</p>
      </div>
    </div>
    <div class="item card">
      <div class="avatar">
        <img
          [src]="images.ilyaK.link"
          [alt]="images.ilyaK.description"
          draggable="false"
        />
      </div>
      <div class="name">
        <p>
          Илья <br />
          Куртенко
        </p>
      </div>
      <div class="role">
        <p>Дизайнер</p>
      </div>
    </div>
    <a href="https://t.me/lneftl" target="_blank" draggable="false">
      <div class="item card talents">
        <div class="avatar">
          <img
            [src]="icons.plus.link"
            [alt]="icons.plus.description"
            draggable="false"
          />
        </div>
        <div class="name">
          <p>
            Ищем <br />
            таланты
          </p>
        </div>
        <div class="description">
          <div class="role">
            <p>Отправьте резюме</p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
