<div class="team">
  <div class="title">
    <p>Команда</p>
  </div>
  <div class="content">
    <div class="item card">
      <div class="avatar">
        <img src="assets/images/memojis/artem.webp" alt="" />
      </div>
      <div class="name">
        <p>
          Артём <br />
          Бергевич
        </p>
      </div>
      <div class="role">
        <p>Директор дизайна</p>
      </div>
    </div>
    <div class="item card ilyaU-card">
      <div class="avatar">
        <img src="assets/images/memojis/ilyaU.webp" alt="" />
      </div>
      <div class="name">
        <p>
          Илья <br />
          Устинов
        </p>
      </div>
      <div class="role">
        <p>Директор интернета</p>
      </div>
    </div>
    <div class="item card">
      <div class="avatar">
        <img src="assets/images/memojis/albina.webp" alt="" />
      </div>
      <div class="name">
        <p>
          Альбина <br />
          Разумовская
        </p>
      </div>
      <div class="role">
        <p>Дизайнерка</p>
      </div>
    </div>
    <div class="item card maksim-card">
      <div class="avatar">
        <img src="assets/images/memojis/maksim.webp" alt="" />
      </div>
      <div class="name">
        <p>
          Максим <br />
          Худяков
        </p>
      </div>
      <div class="role">
        <p>Моушн и 3D дизайнер</p>
      </div>
    </div>
    <div class="item card">
      <div class="avatar">
        <img src="assets/images/memojis/ilana.webp" alt="" />
      </div>
      <div class="name">
        <p>
          Илана <br />
          Мизиева
        </p>
      </div>
      <div class="role">
        <p>Дизайнерка</p>
      </div>
    </div>
    <div class="item card">
      <div class="avatar">
        <img src="assets/images/memojis/danya.webp" alt="" />
      </div>
      <div class="name">
        <p>
          Даня <br />
          Юркин
        </p>
      </div>
      <div class="role">
        <p>Дизайнер</p>
      </div>
    </div>
    <div class="item card">
      <div class="avatar">
        <img src="assets/images/memojis/ilyaK.webp" alt="" />
      </div>
      <div class="name">
        <p>
          Илья <br />
          Куртенко
        </p>
      </div>
      <div class="role">
        <p>Дизайнер</p>
      </div>
    </div>
    <div class="item card">
      <div class="avatar">
        <img src="assets/images/memojis/ivan.webp" alt="" />
      </div>
      <div class="name">
        <p>
          Иван <br />
          Полевщиков
        </p>
      </div>
      <div class="role">
        <p>Дизайнер</p>
      </div>
    </div>
    <div class="item card">
      <div class="avatar">
        <img src="assets/images/memojis/bogdan.webp" alt="" />
      </div>
      <div class="name">
        <p>
          Богдан <br />
          Володин
        </p>
      </div>
      <div class="role">
        <p>Разработчик</p>
      </div>
    </div>
    <div class="item card">
      <div class="avatar">
        <img src="assets/images/memojis/vova.webp" alt="" />
      </div>
      <div class="name">
        <p>
          Владимир <br />
          Лапский
        </p>
      </div>
      <div class="role">
        <p>Разработчик</p>
      </div>
    </div>
  </div>
</div>
