<div class="some-projects">
  <div class="title">
    <p>Вот некоторые наши <span>проекты</span></p>
  </div>
  <div class="project-list">
    <div class="item project hotline">
      <div class="project-title">
        <p>
          HOTLINE
          <span class="line">—</span>
          <br />
          <span>облачный хостинг</span>
        </p>
      </div>
      <div class="project-case-btn">
        <div class="wrapper">
          <a href=""><p>смотреть кейс</p></a>
        </div>
      </div>
      <div class="project-description">
        <p>
          С нуля задизайнили стартап: <br />
          разработали айдентику и <br />
          коммуникации, нарисовали и <br />
          собрали сайт. <br />
          И всё это за 12 недель!
        </p>
      </div>
      <div class="project-preview"></div>
    </div>
    <div class="item project pn development-stage">
      <div class="project-title">
        <p>
          Петербургская
          <br />
          Недвижимость
        </p>
      </div>
      <div class="project-case-btn">
        <div class="wrapper">
          <a><p>скоро</p></a>
        </div>
      </div>
      <div class="project-description">
        <p>
          Прямо сейчас переделываем <br />
          сайт и разрабатываем новую <br />
          дизайн-систему для <br />
          крупнейшего застройщика <br />Санкт-Петербурга
        </p>
      </div>
      <div class="project-preview">
        <img
          [src]="images.casePreviewPn.link"
          [alt]="images.casePreviewPn.description"
          draggable="false"
        />
      </div>
    </div>
    <div class="item project bequick">
      <div class="project-title">
        <p>
          Bequick
          <span class="line">—</span>
          <br />
          <span>курьерская служба</span>
        </p>
      </div>
      <div class="project-case-btn">
        <div class="wrapper">
          <a href=""><p>смотреть кейс</p></a>
        </div>
      </div>
      <div class="project-description">
        <p>
          Брендинг и айдентика для <br />
          курьерской службы
        </p>
      </div>
      <div class="project-preview"></div>
    </div>

    <a
      (mouseover)="isCasesBtnHovered = true"
      (mouseleave)="isCasesBtnHovered = false"
      routerLink="/cases"
      class="item all-cases-btn"
    >
      <p>
        Все кейсы
        <span>
          <img
            [src]="icons.arrowRight.link"
            [alt]="icons.arrowRight.description"
            draggable="false"
          />
        </span>
      </p>
    </a>
  </div>
</div>
