.some-projects {
  width: 100%;
  height: 100%;

  .title {
    padding: 0 0 0 3.6458333333333335vw;

    p {
      color: #ffffff80;
      font-size: 5.208333333333333vw;
    }

    span {
      color: #ffffff;
    }
  }

  .project-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.0833333333333335vw;
    gap: 0.5208333333333334vw;

    .project {
      display: flex;
      width: 98.95833333333333vw;
      height: 31.666666666666668vw;
      justify-content: space-between;
      flex-wrap: wrap;
      background-color: #fff;
      padding: 1.5625vw 1vw 1vw 1.5625vw;
      border-radius: 2.34375vw;

      &-title {
        width: 50%;

        p {
          color: #fff;
          font-size: 2.34375vw;
          margin: 0;
          line-height: 1;

          .line {
            font-size: 2.34375vw;
          }

          span {
            color: rgba(32, 31, 30, 0.6);
            font-size: 2.5vw;
          }
        }
      }

      &-case-btn {
        .wrapper:hover {
          background-color: white;
          transition: 0.3s;

          a {
            color: #000;
          }
        }
      }

      &-description {
        padding-top: 1.5625vw;

        p {
          color: rgba(32, 31, 30, 0.8);
          font-size: 1.3020833333333333vw;
          line-height: 1.75vw;
        }
      }

      &-case-btn {
        display: flex;
        width: 50%;

        align-self: baseline;
        align-content: center;
        justify-content: flex-end;

        .wrapper {
          width: 10.625vw;
          height: 2.9166666666666665vw;

          border: 0.11904761904761904vw solid rgb(255, 255, 255);
          border-radius: 59.464285714285715vw;
          transition: 0.3s;

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: white;
            font-size: 1.0416666666666667vw;
            width: 100%;
            height: 100%;
          }
        }
      }

      &-preview {
        display: flex;
        justify-content: flex-start;
        align-self: center;
        width: 50%;
        height: 80%;

        img {
          width: 100%;
          height: 100%;
        }
      }

      transition: 0.3s;

      &:hover {
        transform: scale(1.01);
        transition: 0.1s;
        cursor: pointer;
      }
    }

    .hotline {
      background-color: #ddff20;

      .project-title p {
        color: rgba(32, 31, 30, 1);
      }

      .project-case-btn {
        .wrapper {
          border-color: #201f1e;

          a {
            color: #000;
          }
        }

        .wrapper:hover {
          background-color: #201f1e;

          a {
            color: #fff;
          }
        }
      }
    }

    .bequick {
      background-color: #181818;

      .project-title {
        p span {
          color: rgba(255, 255, 255, 0.6);
        }
      }

      .project-case-btn {
        width: 40%;

        .wrapper {
          a {
            color: white;
          }
        }

        .wrapper:hover {
          a {
            color: #000;
          }
        }
      }

      .project-description {
        height: 80%;
        width: 50%;

        p {
          color: rgba(255, 255, 255, 0.6);
        }
      }
    }

    .pn {
      background-color: #fcfcfc;

      .project-title p {
        color: rgba(32, 31, 30, 1);
      }

      .project-preview {
        align-self: flex-end;
        width: 27vw;
        height: 23.4375vw;
      }
    }

    .pn,
    .bequick {
      width: 49.1445vw;
    }

    .development-stage {
      .project-case-btn {
        .wrapper {
          border: none;

          a {
            color: #000;
            font-style: italic;
            text-transform: uppercase;
            font-size: 1.1904761904761905vw;
            cursor: default;
          }

          &:hover {
            background-color: transparent;

            transform: scale(1);
            cursor: default;
          }
        }
      }

      &:hover {
        transform: scale(1);
        cursor: default;
      }
    }

    .all-cases-btn {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: flex-end;
      height: 10.42vw;
      border: none;
      background-color: #201f1e;
      border-radius: 2.6041666666666665vw;
      transition: 0.2s;
      text-decoration: none;

      p {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 3.6458333333333335vw;

        span {
          display: flex;
          width: 6.761904761904762vw;
          height: 100%;
          align-items: center;
          justify-content: center;

          img {
            width: 4.761904761904762vw;
            height: 2.6785714285714284vw;
          }
        }
      }

      &:hover {
        background-color: #fef747;
        box-shadow: 0 0 2.9761904761904763vw #fef747;
        transform: scale(1.012);
        transition: 0.2s;

        p {
          color: #000;

          img {
            filter: invert(1);
          }
        }
      }

      &:active {
        transform: scale(0.99);
      }
    }
  }
}
