<div class="part-two">
  <div class="section section-1">
    <div class="section-title">
      <p>ЧАСТЬ 2: ДИЗАЙН САЙТА</p>
    </div>
    <div class="section-description">
      <p>
        Так как Hotline — это целиком и полностью цифровой сервис, главным
        носителем айденики является сайт. Именно на нём раскрывается вся суть
        визуальной концепции.
      </p>
    </div>
  </div>
  <div class="section section-2">
    <div class="images">
      <img
        class="image image-1"
        [src]="images.hotlineCoins.link"
        [alt]="images.hotlineCoins.description"
        draggable="false"
      />
      <img
        class="image image-2"
        [src]="images.hotlineHelp.link"
        [alt]="images.hotlineHelp.description"
        draggable="false"
      />
      <img
        class="image image-3"
        [src]="images.hotlineScreen.link"
        [alt]="images.hotlineScreen.description"
        draggable="false"
      />
    </div>
  </div>
  <div class="section section-3">
    <div class="section-description">
      <p>
        На дизайн всех страниц сайта ушло четыре недели. За это время мы успели
        даже протестировать юзабилити конструктора выделенных серверов.
        <br />
        <br />
        Для ускорения работы было решено исключить всё необязательное: например
        вместо презентаций мы договорились просто скидывать лумы — записи
        экрана, где мы показывали макеты в Фигме и комментировали их.
        <br />
        <br />
        А ещё мы отказались от рисования варфреймов и прототипирования, что тоже
        сократило стоимость и длительность работы.
      </p>
    </div>
  </div>
  <div class="section section-4">
    <div class="section-description">
      <p>
        Это страничка с тарифами веб-хостинга и она спроектирована так, чтобы их
        можно было максимально удобно сравнить и выбрать подходящий.
      </p>
    </div>
    <div class="images">
      <img
        class="image image-1 mtt"
        [src]="images.hotlineHosting.link"
        [alt]="images.hotlineHosting.description"
        draggable="false"
      />
    </div>
    <div class="section-description description-2">
      <p>
        Если готовых тарифов недостаточно, можно собрать собственный виртуальный
        сервер в удобном конструкторе.
      </p>
    </div>
    <div class="images images-2 mtt">
      <img
        class="image image-2"
        [src]="images.hotlineVirtualServers.link"
        [alt]="images.hotlineVirtualServers.description"
        draggable="false"
      />
    </div>
    <div class="section-description description-3">
      <p>
        Согласно метрикам, целевая аудитория веб-хостингов заходит на их сайты
        именно с десктопа, поэтому мы не придерживались метода mobile first.
        <br />
        <br />
        Но несмотря на это, мобильная версия ничуть не уступает десктопу по
        удобству и эстетике.
      </p>
    </div>
    <div class="images images-3 mtt">
      <img
        class="image image-3"
        [src]="images.hotlinePhone1.link"
        [alt]="images.hotlinePhone1.description"
        draggable="false"
      />
      <img
        class="image image-4"
        [src]="images.hotlinePhone2.link"
        [alt]="images.hotlinePhone2.description"
        draggable="false"
      />
      <img
        class="image image-5"
        [src]="images.hotlinePhone3.link"
        [alt]="images.hotlinePhone3.description"
        draggable="false"
      />
    </div>
  </div>
</div>
