<div class="project-info">
  <div class="section section-1">
    <div class="section-title"><p>О КЛИЕНТЕ</p></div>
    <div class="section-description">
      <p>
        Hotline — это провайдер IT-инфраструктуры, предоставляющий в аренду
        быстрые виртуальные серверы, защищённые от DDoS-атак и падений.
        <br />
        <br />
        Это история о том, как мы помогли ребятам открыться, задизайнив всё с
        нуля в кратчайшие сроки.
      </p>
    </div>
  </div>
  <div class="section section-2">
    <div class="section-title"><p>ПРОЛОГ</p></div>
    <div class="section-description">
      <p>
        Клиент пришёл к нам с идеями и планами. <br />
        До запуска сервиса оставалось три месяца и нужно было в кратчайшие сроки
        с нуля создать логотип, фирменный стиль и сайт. Проект был огромный, а
        времени на его реализацию — крайне мало.
        <br />
        <br />
        А техническое задание выглядело вот так:
      </p>
    </div>
  </div>
  <div class="images">
    <div class="content">
      <div class="wrapper">
        <img
          class="image image-1"
          [src]="images.bubble1.link"
          [alt]="images.bubble1.description"
          draggable="false"
        />
        <img
          class="image image-2"
          [src]="images.bubble2.link"
          [alt]="images.bubble2.description"
          draggable="false"
        />
        <img
          class="image image-3"
          [src]="images.bubble3.link"
          [alt]="images.bubble3.description"
          draggable="false"
        />
      </div>
    </div>
  </div>
  <div class="section section-3">
    <div class="section-description">
      <p>
        Так как сроки были сильно ограничены, решили работать по принципу MVP —
        делаем самую базу, только самое необходимое для того, чтобы стартап
        полностью открылся. Мы придерживались этого принципа и в айдентике и в
        сайте.
      </p>
    </div>
  </div>
</div>
