.project-info {
  .section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 6.770833333333333vw 0 3.6458333333333335vw;

    &-title {
      width: 40%;

      p {
        font-size: 2.0833333333333335vw;
      }
    }

    &-description {
      width: 60%;

      p {
        font-size: 1.875vw;
      }
    }
  }

  .section-2 {
    margin-top: 5.833333333333333vw;
  }

  .images {
    width: 100%;
    height: 23.5vw;
    margin: 7.8125vw 0 10.416666666666666vw 0;

    .content {
      width: 100%;
      height: 100%;

      .wrapper {
        display: flex;
        flex-direction: column;

        .image {
          position: absolute;
          left: 27.1875vw;
          margin-top: auto;
        }

        .image-1 {
          width: 45.625vw;
          height: 9.53125vw;
        }

        .image-2 {
          width: 36.614583333333336vw;
          height: 5.989583333333333vw;
          margin-top: 10.5vw;
        }

        .image-3 {
          width: 18.90625vw;
          height: 5.989583333333333vw;
          margin-top: 17.5vw;
        }
      }
    }
  }

  .section-3 {
    padding: 0;
    padding-right: 5.7291666667vw;

    .section-description {
      width: 58%;
      justify-content: flex-end;
      margin-left: auto;
    }
  }
}

@media screen and (max-width: 414px) {
  .project-info {
    margin-top: 21.53846153846154vw;

    .section {
      padding: 0 5.128205128205129vw;
      flex-direction: column;
      justify-content: flex-start;
      gap: 8.461538461538462vw;

      &-title,
      &-description {
        width: 100%;

        p {
          font-size: 4.615384615384615vw;
        }
      }

      &-title {
        margin-left: 0.7692307692307693vw;
      }
    }

    .section-3 {
      .section-description {
        width: 100%;
      }
    }

    .images {
      height: 46.15384615384615vw;
      margin: 15.384615384615385vw 0 25.641025641025642vw 0;

      .content {
        .wrapper {
          justify-content: flex-start;

          .image {
            left: 5.128205128205129vw;
          }

          .image-1 {
            width: 87.6923076923077vw;
            height: 18.348717948717947vw;
          }

          .image-2 {
            width: 70.7128205128205vw;
            height: 11.538461538461538vw;
            margin-top: 20.9vw;
          }

          .image-3 {
            width: 36.41025641025641vw;
            height: 11.538461538461538vw;
            margin-top: 35vw;
          }
        }
      }
    }
  }
}
