.block {
  border-radius: 3.1578947368421053vw;

  .title {
    p {
      color: #201f1e;
      font-size: 5.208333333333333vw;
    }
  }
}

.first-block {
  background-color: #5d6eff;
  width: 100%;
  height: 24.53125vw;

  padding: 2.0833333333333335vw 0 2.6041666666666665vw 3.125vw;

  .title {
    width: 100%;
    height: 100%;

    p {
      color: #ffffff;
      font-size: 4.166666666666667vw;

      img {
        width: 4.166666666666667vw;
        height: 4.166666666666667vw;
      }
    }
  }
}
