.lets-work {
  position: absolute;
  width: 98.8vw;
  height: 37.857142857142854vw;

  background-color: #fff;
  padding: 2.3vw 0 2.380952380952381vw 2.380952380952381vw;
  border-radius: 3.5714285714285716vw;

  .title {
    p {
      color: #000;
      font-size: 5.357142857142857vw;
    }
  }

  &-description {
    margin-top: 1.7857142857142858vw;

    p {
      font-size: 2.380952380952381vw;
      color: rgba(32, 31, 30, 0.6);
    }
  }

  &-button {
    align-self: flex-start;
    width: 48.523809523809526vw;
    height: 9.714285714285714vw;
    background-color: #019ff8;
    border-radius: 2.9761904761904763vw;
    margin-top: 10.214285714285714vw;

    transition: 0.2s;

    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      p {
        color: #fff;
        font-size: 2.9761904761904763vw;
      }
    }

    &:hover {
      filter: drop-shadow(0 0 1.1904761904761905vw rgba(1, 159, 248, 0.7));
      transform: scale(1.05);
      transition: 0.2s;
    }

    &:active {
      transform: scale(0.99);
    }
  }

  &-memoji {
    position: absolute;
    right: 4.166666666666667vw;
    bottom: 0;

    width: 30.476190476190474vw;
    height: 35.476190476190474vw;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
