<div class="about-team">
  <div class="left">
    <div class="block-left green-bg">
      <div class="text">
        <p>
          Мы — команда <br />
          дизайнеров, <br />
          редакторов, <br />
          разработчиков и <br />
          продактов
        </p>
      </div>
      <div class="memoji-list">
        <div class="memoji ilana-memoji">
          <img
            [src]="images.ilana.link"
            [alt]="images.ilana.description"
            draggable="false"
          />
        </div>
        <div class="memoji ilyaK-memoji">
          <img
            [src]="images.ilyaK.link"
            [alt]="images.ilyaK.description"
            draggable="false"
          />
        </div>
        <div class="memoji danya-memoji">
          <img
            [src]="images.danya.link"
            [alt]="images.danya.description"
            draggable="false"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="block-right green-bg">
      <div class="text">
        <p>
          дизайним веб, интерфейсы, <br />
          коммуникации, айдентику, <br />
          проводим исследования, <br />
          собираем сайты, <br />
          разрабатываем <br />
          веб-сервисы и <br />
          приложения
        </p>
      </div>
    </div>
    <a
      (mouseover)="isAboutTeamBtnHovered = true"
      (mouseleave)="isAboutTeamBtnHovered = false"
      class="about-button"
      routerLink="/team"
    >
      <p class="text">
        О команде
        <span>
          <img
            [src]="
              !isAboutTeamBtnHovered
                ? icons.arrowRightWhite.link
                : icons.arrowRightBlack.link
            "
            [alt]="icons.arrowRightWhite.description"
            draggable="false"
          />
        </span>
      </p>
    </a>
  </div>
</div>
