<div
  waIntersectionObserver
  waIntersectionThreshold="0.4"
  (waIntersectionObservee)="
    intersectionService.onIntersection($event, 'blockAppearFadeSm', 'hidden')
  "
  class="block our-principles hidden"
>
  <div class="title">
    <p>Наши принципы</p>
  </div>
  <div class="content">
    <div class="item principle item-1">
      <div class="title">
        <p>Человечность</p>
      </div>
      <div class="description">
        <p>
          Общаемся с заказчиком <br />
          по-человечески, без лишней <br />
          корпоративной духоты
        </p>
      </div>
    </div>
    <div class="item principle item-2">
      <div class="title">
        <p>Открытость</p>
      </div>
      <div class="description">
        <p>
          Мы работаем бок о бок с <br />
          клиентом и всё ему показываем, <br />
          даже если не всё идёт гладко
        </p>
      </div>
    </div>
    <div class="item principle item-3">
      <div class="title">
        <p>Вовлечённость</p>
      </div>
      <div class="description">
        <p>
          Для нас главное — результат, <br />
          поэтому над каждым проектом <br />
          мы стараемся по максимуму
        </p>
      </div>
    </div>
  </div>
</div>
