<div
  class="content"
  [ngStyle]="isMenuOpened ? { backgroundColor: '#000000' } : {}"
>
  <div class="always-show">
    <div class="element main" (click)="isMenuOpened = !isMenuOpened">
      <a draggable="false">{{ isMenuOpened ? "Закрыть" : "Карта сайта" }}</a>
    </div>
    <div
      (mouseover)="getNewHeader()"
      (click)="scrollTop()"
      class="element logo"
    >
      <a routerLink="/">
        <img
          [src]="headerSrc"
          [alt]="icons.logo.description"
          draggable="false"
        />
      </a>
    </div>
    <div class="element write-to-us">
      <a (click)="scroll(anchorPath.LETS_WORK)" draggable="false">Написать</a>
    </div>
  </div>
  <div
    [ngStyle]="isMenuOpened ? { display: 'block' } : { display: 'none' }"
    class="fullscreen-menu"
  >
    <div class="element main">
      <a (click)="isMenuOpened = false" routerLink="/" draggable="false">
        <p>Главная</p>
        <span>
          <p *ngIf="currentUrl === '/'">(вы здесь)</p>
          <img
            *ngIf="currentUrl !== '/'"
            [src]="icons.arrowRight.link"
            [alt]="icons.arrowRight.description"
            draggable="false"
          />
        </span>
      </a>
    </div>
    <div class="element about-team">
      <a (click)="isMenuOpened = false" routerLink="/team" draggable="false">
        <p>О команде</p>
        <span>
          <p *ngIf="currentUrl === '/team'">(вы здесь)</p>
          <img
            *ngIf="currentUrl !== '/team'"
            [src]="icons.arrowRight.link"
            [alt]="icons.arrowRight.description"
            draggable="false"
          />
        </span>
      </a>
    </div>
    <div class="element portfolio">
      <a (click)="isMenuOpened = false" routerLink="/cases" draggable="false">
        <p>Портфолио</p>
        <span>
          <p *ngIf="currentUrl === '/cases'">(вы здесь)</p>
          <img
            *ngIf="currentUrl !== '/cases'"
            [src]="icons.arrowRight.link"
            [alt]="icons.arrowRight.description"
            draggable="false"
          />
        </span>
      </a>
    </div>
    <div class="element speedrun">
      <a
        (click)="isMenuOpened = false"
        routerLink="/speedrun"
        draggable="false"
      >
        <p>Спидран по сайту</p>
        <span>
          <img
            [src]="icons.arrowRight.link"
            [alt]="icons.arrowRight.description"
            draggable="false"
          />
        </span>
      </a>
    </div>
  </div>
</div>

<div class="images-preload">
  <img [src]="icons.logo.link" />
  <img [src]="icons.logoAntiHype.link" />
  <img [src]="icons.logoDobro.link" />
  <img [src]="icons.logoDrzhk.link" />
  <img [src]="icons.logoKorean.link" />
  <img [src]="icons.logoMaxfont.link" />
  <img [src]="icons.logoMinecraft.link" />
  <img [src]="icons.logoRu.link" />
  <img [src]="icons.logoUwu.link" />
  <img [src]="icons.logoLove.link" />
  <img [src]="icons.logoAustralian.link" />
  <img [src]="icons.logoAmbid.link" />
  <img [src]="icons.logoRzmrt.link" />
</div>
