.content {
  width: 100%;
  height: 3.5714285714285716vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .element {
    width: 8.541666666666666vw;
    height: 2.3958333333333335vw;

    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.0416666666666667vw;
      color: #fff;
      text-decoration: none;
    }

    img {
      width: 8.541666666666666vw;
      height: 2.3958333333333335vw;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.2s;

      &:hover {
        transform: scale(1.1);
        transition: 0.2s;

        filter: drop-shadow(0 0 1.1904761904761905vw #92ff00);
      }

      &:active {
        transform: scale(0.99);
      }
    }
  }

  .main,
  .write-to-us {
    background-color: #201f1e;
    border-radius: 52.03125vw;

    transition: 0.2s;

    &:hover {
      transform: scale(1.1);
      transition: 0.2s;
      cursor: pointer;
    }

    &:active {
      transform: scale(0.99);
    }
  }

  .logo {
    &:hover {
      cursor: pointer;
    }
  }
}

.images-preload {
  display: none;
}
