<div
  waIntersectionObserver
  (waIntersectionObservee)="
    intersectionService.onIntersection($event, 'blockAppearFadeSm', 'hidden')
  "
  class="project project-pn hidden"
>
  <div class="project-info">
    <div class="icon">
      <img
        [src]="icons.pn.link"
        [alt]="icons.pn.description"
        draggable="false"
      />
    </div>
    <div class="title">
      <p>
        Петербургская <br />
        Недвижимость
      </p>
    </div>
    <div class="description">
      <p>
        Прямо сейчас переделываем сайт и разрабатываем <br />
        новую дизайн-систему для крупнейшего брокера <br />
        строящейся недвижимости Санкт-Петербурга
      </p>
    </div>
    <div class="creation-date">
      <p>Скоро!</p>
    </div>
  </div>
  <div class="project-preview">
    <img
      [src]="images.casePreviewPn2.link"
      [alt]="images.casePreviewPn2.description"
      draggable="false"
    />
  </div>
</div>
<div
  waIntersectionObserver
  (waIntersectionObservee)="
    intersectionService.onIntersection(
      $event,
      'blockAppearFadeSm',
      'hidden',
      200
    )
  "
  class="project project-hotline hidden"
>
  <div class="project-info">
    <div class="icon">
      <img
        [src]="icons.hotline.link"
        [alt]="icons.hotline.description"
        draggable="false"
      />
    </div>
    <div class="title">
      <p>
        HOTLINE
        <span>
          —
          <br />
          облачный хостинг
        </span>
      </p>
    </div>
    <div class="description">
      <p>
        С нуля задизайнили стартап: разработали айдентику и <br />
        коммуникации, спроектировали и сверстали сайт. <br />
        И всё это за 12 недель!
      </p>
    </div>
    <div class="creation-date">
      <p>Сделали в мае 2022</p>
    </div>
  </div>
  <div class="project-preview">
    <a [routerLink]="links.CASE_HOTLINE">
      <img
        [src]="images.casePreviewHotline.link"
        [alt]="images.casePreviewHotline.description"
        draggable="false"
      />
    </a>
  </div>
  <div class="project-description">
    <div class="description-text art-director">
      <div class="title">
        <p>Арт-директор:</p>
      </div>
      <div class="name-list">
        <p>Артём Бергевич</p>
      </div>
    </div>
    <div class="description-text designers">
      <div class="title">
        <p>Дизайнеры:</p>
      </div>
      <div class="name-list">
        <p>Артём Бергевич</p>
        <p>Альбина Разумовская</p>
        <p>Илья Устинов</p>
      </div>
    </div>
    <div class="description-text illustrations">
      <div class="title">
        <p>Иллюстрации:</p>
      </div>
      <div class="name-list">
        <p>Максим Худяков</p>
      </div>
    </div>
    <div class="description-text developers">
      <div class="title">
        <p>Фронтенд-разработчик:</p>
      </div>
      <div class="name-list">
        <p>Богдан Володин</p>
      </div>
    </div>
    <div class="description-buttons">
      <a class="open-link" href="https://hotline.sh" target="_blank">
        <p>открыть сайт</p>
      </a>
      <a class="open-case" [routerLink]="links.CASE_HOTLINE">
        <p>смотреть кейс</p>
      </a>
    </div>
  </div>
</div>
<div
  waIntersectionObserver
  (waIntersectionObservee)="
    intersectionService.onIntersection($event, 'blockAppearFadeSm', 'hidden')
  "
  class="project project-either hidden"
>
  <div class="project-info">
    <div class="icon">
      <img
        [src]="icons.either.link"
        [alt]="icons.either.description"
        draggable="false"
      />
    </div>
    <div class="title">
      <p>
        Either Digital
        <span>
          —
          <br />
          музыкальный дистрибьютор
        </span>
      </p>
    </div>
    <div class="description">
      <p>
        Нарисовали сайт по брендбуку для музыкального лейбла и дали рекомендации
        по доработке личного кабинета. <br />
        К сожалению, финальный результат отличается от нашего дизайна, так как
        сайт собирался заказчиком.
      </p>
    </div>
    <div class="creation-date">
      <p>Сделали в июле 2022</p>
    </div>
  </div>
  <div class="project-preview">
    <a href="https://either.digital" target="_blank">
      <img
        [src]="images.casePreviewEither.link"
        [alt]="images.casePreviewEither.description"
        draggable="false"
      />
    </a>
  </div>
  <div class="project-description">
    <div class="description-text art-director">
      <div class="title">
        <p>Арт-директор:</p>
      </div>
      <div class="name-list">
        <p>Артём Бергевич</p>
      </div>
    </div>
    <div class="description-text designers">
      <div class="title">
        <p>Дизайнерка:</p>
      </div>
      <div class="name-list">
        <p>Альбина Разумовская</p>
      </div>
    </div>
    <div class="description-buttons">
      <a class="open-link" href="https://either.digital" target="_blank">
        <p>открыть сайт</p>
      </a>
    </div>
  </div>
</div>
<div
  waIntersectionObserver
  (waIntersectionObservee)="
    intersectionService.onIntersection($event, 'blockAppearFadeSm', 'hidden')
  "
  class="project project-silent hidden"
>
  <div class="project-info">
    <div class="icon">
      <img
        [src]="icons.silent.link"
        [alt]="icons.silent.description"
        draggable="false"
      />
    </div>
    <div class="title">
      <p>
        Silent Client
        <span>
          —
          <br />
          гейминг
        </span>
      </p>
    </div>
    <div class="description">
      <p>
        За несколько дней по программе Спидран нарисовали концепцию лендинга.
        <br />
        Финальный результат отличается от нашего дизайна, так как сайт собирался
        и изменялся заказчиком уже без нашего участия.
      </p>
    </div>
    <div class="creation-date">
      <p>
        Сделали в декабре 2022
        <span>&nbsp;<a [routerLink]="links.PAGE_SPEEDRUN">Спидран</a></span>
      </p>
    </div>
  </div>
  <div class="project-preview">
    <img
      [src]="images.casePreviewSilent.link"
      [alt]="images.casePreviewSilent.description"
      draggable="false"
    />
  </div>
  <div class="project-description">
    <div class="description-text art-director">
      <div class="title">
        <p>Арт-директор:</p>
      </div>
      <div class="name-list">
        <p>Артём Бергевич</p>
      </div>
    </div>
    <div class="description-text designers">
      <div class="title">
        <p>Дизайнер:</p>
      </div>
      <div class="name-list">
        <p>Илья Куртенко</p>
      </div>
    </div>
  </div>
</div>
<div
  waIntersectionObserver
  (waIntersectionObservee)="
    intersectionService.onIntersection($event, 'blockAppearFadeSm', 'hidden')
  "
  class="project project-bequick"
>
  <div class="project-info">
    <div class="icon">
      <img
        [src]="icons.bequick.link"
        [alt]="icons.bequick.description"
        draggable="false"
      />
    </div>
    <div class="title">
      <p>
        bequick
        <span>
          —
          <br />
          логистическая компания
        </span>
      </p>
    </div>
    <div class="description">
      <p>
        Придумали название, нарисовали логотип, разработали <br />
        айдентику, набросали гайдлайны коммуникаций, <br />
        брендировали машинки, собрали из всего этого брендбук
      </p>
    </div>
    <div class="creation-date">
      <p>Сделали в марте 2022</p>
    </div>
  </div>
  <div class="project-preview"></div>
  <div class="project-description">
    <div class="description-text art-director">
      <div class="title">
        <p>Арт-директор:</p>
      </div>
      <div class="name-list">
        <p>Артём Бергевич</p>
      </div>
    </div>
    <div class="description-text designers">
      <div class="title">
        <p>Дизайнеры:</p>
      </div>
      <div class="name-list">
        <p>Альбина Разумовская</p>
        <p>Максим Худяков</p>
      </div>
    </div>
    <div class="description-text management">
      <div class="title">
        <p>Менеджерка:</p>
      </div>
      <div class="name-list">
        <p>Илана Мизиева</p>
      </div>
    </div>
    <div class="description-buttons">
      <a class="open-case" [routerLink]="links.CASE_BEQUICK">
        <p>смотреть кейс</p>
      </a>
    </div>
  </div>
</div>
<div
  waIntersectionObserver
  (waIntersectionObservee)="
    intersectionService.onIntersection($event, 'blockAppearFadeSm', 'hidden')
  "
  class="project project-spbedu hidden"
>
  <div class="project-info">
    <div class="icon">
      <img
        [src]="icons.spbedu.link"
        [alt]="icons.spbedu.description"
        draggable="false"
      />
    </div>
    <div class="title">
      <p>
        СПБЭШ
        <span>
          —
          <br />
          концепт / NDA
        </span>
      </p>
    </div>
    <div class="description">
      <p>
        Концепт будущего приложения для общеобразовательных школ
        Санкт-Петербурга. Приложение включает в себя электронный дневник, личную
        карточку ученика, заказ еды в столовой и прочие школьные сервисы. <br />
        Сделано по тендеру правительства Санкт-Петербурга.
      </p>
    </div>
  </div>
  <div class="project-preview">
    <img
      [src]="images.casePreviewSpbedu.link"
      [alt]="images.casePreviewSpbedu.description"
      draggable="false"
    />
  </div>
  <div class="project-description">
    <div class="description-text art-director">
      <div class="title">
        <p>Арт-директор:</p>
      </div>
      <div class="name-list">
        <p>Илья Устинов</p>
      </div>
    </div>
    <div class="description-text designers">
      <div class="title">
        <p>Дизайнеры:</p>
      </div>
      <div class="name-list">
        <p>Альбина Разумовская</p>
        <p>Илья Устинов</p>
      </div>
    </div>
  </div>
</div>
<div
  waIntersectionObserver
  (waIntersectionObservee)="
    intersectionService.onIntersection($event, 'blockAppearFadeSm', 'hidden')
  "
  class="project project-monocrypto no-preview hidden"
>
  <div class="project-info">
    <div class="icon">
      <img
        [src]="icons.mono.link"
        [alt]="icons.mono.description"
        draggable="false"
      />
    </div>
    <div class="title">
      <p>
        mono*crypto
        <span>
          —
          <br />
          финтех
        </span>
      </p>
    </div>
    <div class="description">
      <p>
        Занимались дизайн-поддержкой. <br />
        К сожалению, сервис закрылся (не по нашей вине)
      </p>
    </div>
    <div class="creation-date">
      <p>Работали в 2022</p>
    </div>
  </div>
</div>
<div
  waIntersectionObserver
  (waIntersectionObservee)="
    intersectionService.onIntersection($event, 'blockAppearFadeSm', 'hidden')
  "
  class="project project-pn2 no-preview hidden"
>
  <div class="project-info">
    <div class="icon">
      <img
        [src]="icons.pn.link"
        [alt]="icons.pn.description"
        draggable="false"
      />
    </div>
    <div class="title">
      <p>
        Петербургская <br />
        Недвижимость
      </p>
    </div>
    <div class="description">
      <p>
        Иногда помогаем делать внутренние корпоративные <br />
        презентации и верстаем отчёты
      </p>
    </div>
    <div class="creation-date">
      <p>Работаем с декабря 2021</p>
    </div>
  </div>
</div>

<div class="mobile-project mobile-pn">
  <div class="project-info">
    <div class="top">
      <div class="icon">
        <img
          [src]="icons.pn.link"
          [alt]="icons.pn.description"
          draggable="false"
        />
      </div>
      <div class="title">
        <p>Петербургская Недвижимость</p>
      </div>
    </div>
    <div class="preview">
      <div class="preview-wrapper">
        <img
          [src]="images.casePreviewPn2.link"
          [alt]="images.casePreviewPn2.description"
          draggable="false"
        />
      </div>
    </div>
    <div class="bottom">
      <div class="description">
        <p>
          Прямо сейчас переделываем сайт и разрабатываем новую дизайн-систему
          для крупнейшего брокера строящейся недвижимости Санкт-Петербурга
        </p>
      </div>
      <div class="creation-date"><p>Скоро!</p></div>
    </div>
  </div>
</div>
<div class="mobile-project mobile-hotline">
  <div class="project-info">
    <div class="top">
      <div class="icon">
        <img
          [src]="icons.hotline.link"
          [alt]="icons.hotline.description"
          draggable="false"
        />
      </div>
      <div class="title">
        <p>
          HOTLINE
          <span>
            —
            <br />
            облачный хостинг
          </span>
        </p>
      </div>
    </div>
    <div class="preview">
      <div class="preview-wrapper">
        <a [routerLink]="links.CASE_HOTLINE">
          <img
            [src]="images.casePreviewHotline.link"
            [alt]="images.casePreviewHotline.description"
            draggable="false"
        /></a>
      </div>
    </div>
    <div class="bottom">
      <div class="description">
        <p>
          С нуля задизайнили стартап: разработали айдентику и коммуникации,
          спроектировали и сверстали сайт. <br />
          И всё это за 12 недель!
        </p>
      </div>
      <div class="creation-date"><p>Сделали в мае 2022</p></div>
    </div>
  </div>
  <div class="project-description">
    <div class="description-text art-director">
      <div class="title">
        <p>Арт-директор:</p>
      </div>
      <div class="name-list">
        <p>Артём Бергевич</p>
      </div>
    </div>
    <div class="description-text designers">
      <div class="title">
        <p>Дизайнеры:</p>
      </div>
      <div class="name-list">
        <p>Артём Бергевич</p>
        <p>Альбина Разумовская</p>
        <p>Илья Устинов</p>
      </div>
    </div>
    <div class="description-text illustrations">
      <div class="title"><p>Иллюстрации:</p></div>
      <div class="name-list"><p>Максим Худяков</p></div>
    </div>
    <div class="description-text developers">
      <div class="title"><p>Фронтенд-разработчик:</p></div>
      <div class="name-list"><p>Богдан Володин</p></div>
    </div>
    <div class="description-buttons">
      <a class="open-link" href="https://hotline.sh" target="_blank">
        <p>открыть сайт</p>
      </a>
      <a class="open-case" [routerLink]="links.CASE_HOTLINE">
        <p>смотреть кейс</p>
      </a>
    </div>
  </div>
</div>
<div class="mobile-project mobile-either">
  <div class="project-info">
    <div class="top">
      <div class="icon">
        <img
          [src]="icons.either.link"
          [alt]="icons.either.description"
          draggable="false"
        />
      </div>
      <div class="title">
        <p>
          Either Digital
          <span>
            —
            <br />
            музыкальный дистрибьютор
          </span>
        </p>
      </div>
    </div>
    <div class="preview">
      <div class="preview-wrapper">
        <a href="https://either.digital" target="_blank">
          <img
            [src]="images.casePreviewEither.link"
            [alt]="images.casePreviewEither.description"
            draggable="false"
        /></a>
      </div>
    </div>
    <div class="bottom">
      <div class="description">
        <p>
          Нарисовали сайт по брендбуку для музыкального лейбла и дали
          рекомендации по доработке личного кабинета. <br />
          К сожалению, финальный результат отличается от нашего дизайна, так как
          сайт собирался заказчиком.
        </p>
      </div>
      <div class="creation-date"><p>Сделали в июле 2022</p></div>
    </div>
  </div>
  <div class="project-description">
    <div class="description-text art-director">
      <div class="title">
        <p>Арт-директор:</p>
      </div>
      <div class="name-list">
        <p>Артём Бергевич</p>
      </div>
    </div>
    <div class="description-text designers">
      <div class="title">
        <p>Дизайнерка:</p>
      </div>
      <div class="name-list">
        <p>Альбина Разумовская</p>
      </div>
    </div>
    <div class="description-buttons">
      <a class="open-link" href="https://either.digital" target="_blank">
        <p>открыть сайт</p>
      </a>
    </div>
  </div>
</div>
<div class="mobile-project mobile-silent">
  <div class="project-info">
    <div class="top">
      <div class="icon">
        <img
          [src]="icons.silent.link"
          [alt]="icons.silent.description"
          draggable="false"
        />
      </div>
      <div class="title">
        <p>
          Silent Client
          <span>
            —
            <br />
            гейминг
          </span>
        </p>
      </div>
    </div>
    <div class="preview">
      <div class="preview-wrapper">
        <img
          [src]="images.casePreviewSilent.link"
          [alt]="images.casePreviewSilent.description"
          draggable="false"
        />
      </div>
    </div>
    <div class="bottom">
      <div class="description">
        <p>
          За несколько дней по программе Спидран нарисовали концепцию лендинга.
          Финальный результат отличается от нашего дизайна, так как сайт
          собирался и изменялся заказчиком уже без нашего участия.
        </p>
      </div>
      <div class="creation-date">
        <p>
          Сделали в декабре 2022
          <span>&nbsp;<a [routerLink]="links.PAGE_SPEEDRUN">Спидран</a></span>
        </p>
      </div>
    </div>
  </div>
  <div class="project-description">
    <div class="description-text art-director">
      <div class="title">
        <p>Арт-директор:</p>
      </div>
      <div class="name-list">
        <p>Артём Бергевич</p>
      </div>
    </div>
    <div class="description-text designers">
      <div class="title">
        <p>Дизайнер:</p>
      </div>
      <div class="name-list">
        <p>Илья Куртенко</p>
      </div>
    </div>
  </div>
</div>
<div class="mobile-project mobile-bequick">
  <div class="project-info">
    <div class="top">
      <div class="icon">
        <img
          [src]="icons.bequick.link"
          [alt]="icons.bequick.description"
          draggable="false"
        />
      </div>
      <div class="title">
        <p>
          bequick
          <span>
            —
            <br />
            логистическая компания
          </span>
        </p>
      </div>
    </div>
    <div class="preview">
      <div class="preview-wrapper">
        <a [routerLink]="links.CASE_BEQUICK"></a>
      </div>
    </div>
    <div class="bottom">
      <div class="description">
        <p>
          Придумали название, нарисовали логотип, разработали айдентику,
          набросали гайдлайны коммуникаций, брендировали машинки, собрали из
          всего этого брендбук
        </p>
      </div>
      <div class="creation-date">
        <p>Сделали в марте 2022</p>
      </div>
    </div>
  </div>
  <div class="project-description">
    <div class="description-text art-director">
      <div class="title">
        <p>Арт-директор:</p>
      </div>
      <div class="name-list">
        <p>Артём Бергевич</p>
      </div>
    </div>
    <div class="description-text designers">
      <div class="title">
        <p>Дизайнеры:</p>
      </div>
      <div class="name-list">
        <p>Альбина Разумовская</p>
        <p>Максим Худяков</p>
      </div>
    </div>
    <div class="description-text management">
      <div class="title"><p>Менеджерка:</p></div>
      <div class="name-list"><p>Илана Мизиева</p></div>
    </div>
    <div class="description-buttons">
      <a class="open-case" [routerLink]="links.CASE_BEQUICK">
        <p>смотреть кейс</p>
      </a>
    </div>
  </div>
</div>
<div class="mobile-project mobile-spbedu">
  <div class="project-info">
    <div class="top">
      <div class="icon">
        <img
          [src]="icons.spbedu.link"
          [alt]="icons.spbedu.description"
          draggable="false"
        />
      </div>
      <div class="title">
        <p>
          СПБЭШ
          <span>
            —
            <br />
            концепт / NDA
          </span>
        </p>
      </div>
    </div>
    <div class="preview">
      <div class="preview-wrapper">
        <img
          [src]="images.casePreviewSpbedu.link"
          [alt]="images.casePreviewSpbedu.description"
          draggable="false"
        />
      </div>
    </div>
    <div class="bottom">
      <div class="description">
        <p>
          Концепт будущего приложения для общеобразовательных школ
          Санкт-Петербурга. Приложение включает в себя электронный дневник,
          личную карточку ученика, заказ еды в столовой и прочие школьные
          сервисы. <br />
          Сделано по тендеру правительства Санкт-Петербурга.
        </p>
      </div>
    </div>
  </div>
  <div class="project-description">
    <div class="description-text art-director">
      <div class="title">
        <p>Арт-директор:</p>
      </div>
      <div class="name-list">
        <p>Илья Устинов</p>
      </div>
    </div>
    <div class="description-text designers">
      <div class="title">
        <p>Дизайнеры:</p>
      </div>
      <div class="name-list">
        <p>Альбина Разумовская</p>
        <p>Илья Устинов</p>
      </div>
    </div>
  </div>
</div>
<div class="mobile-project mobile-monocrypto">
  <div class="project-info">
    <div class="top">
      <div class="icon">
        <img
          [src]="icons.mono.link"
          [alt]="icons.mono.description"
          draggable="false"
        />
      </div>
      <div class="title">
        <p>
          mono*crypto
          <span>
            —
            <br />
            финтех
          </span>
        </p>
      </div>
    </div>
    <div class="bottom">
      <div class="description">
        <p>
          Занимались дизайн-поддержкой. <br />
          К сожалению, сервис закрылся (не по нашей вине)
        </p>
      </div>
      <div class="creation-date"><p>Работали в 2022</p></div>
    </div>
  </div>
</div>
<div class="mobile-project mobile-pn2">
  <div class="project-info">
    <div class="top">
      <div class="icon">
        <img
          [src]="icons.pn.link"
          [alt]="icons.pn.description"
          draggable="false"
        />
      </div>
      <div class="title">
        <p>Петербургская Недвижимость</p>
      </div>
    </div>
    <div class="bottom">
      <div class="description">
        <p>
          Иногда помогаем делать внутренние корпоративные презентации и верстаем
          отчёты
        </p>
      </div>
      <div class="creation-date"><p>Работаем с декабря 2021</p></div>
    </div>
  </div>
</div>
