<div
  waIntersectionObserver
  (waIntersectionObservee)="
    intersectionService.onIntersection(
      $event,
      'blockAppearFadeSm',
      'hidden',
      50
    )
  "
  class="lets-work hidden"
>
  <div class="title"><p>Давайте же работать!</p></div>
  <div class="lets-work-description">
    <p>
      Оставьте заявочку, и мы ответим <br />
      в течение суток, даже в выходные
    </p>
  </div>
  <div class="lets-work-button">
    <a href="https://t.me/lneftl" target="_blank">
      <p>Написать в Телеграм</p>
    </a>
  </div>
  <div class="lets-work-memoji">
    <img
      [src]="images.ilana2.link"
      [alt]="images.ilana2.description"
      draggable="false"
    />
  </div>
</div>
