.lets-work {
  position: absolute;
  width: 98.95833333333333vw;
  height: 33.125vw;

  display: flex;
  flex-direction: column;

  background-color: #fff;
  padding: 2.6041666666666665vw 0 2.0833333333333335vw 2.0833333333333335vw;
  border-radius: 3.125vw;

  .title {
    p {
      color: #000;
      font-size: 5.729166666666667vw;
    }
  }

  &-description {
    margin-top: 1.5625vw;

    p {
      font-size: 2.34375vw;
      color: rgba(32, 31, 30, 0.6);
    }
  }

  &-button {
    width: 52.083333333333336vw;
    height: 9.375vw;
    background-color: #019ff8;
    border-radius: 2.6041666666666665vw;
    margin-top: auto;

    transition: 0.2s;

    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      p {
        color: #fff;
        font-size: 2.6041666666666665vw;
      }
    }

    &:hover {
      filter: drop-shadow(0 0 1.0416666666666667vw rgba(1, 159, 248, 0.7));
      transform: scale(1.05);
      transition: 0.2s;
    }

    &:active {
      transform: scale(0.99);
    }
  }

  &-memoji {
    position: absolute;
    right: 3.6458333333333335vw;
    bottom: 0;

    width: 26.666666666666668vw;
    height: 31.041666666666668vw;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
