<div class="content">
  <div id="header">
    <div class="element main">
      <a href="" draggable="false">Главная</a>
    </div>
    <div (mouseover)="getNewHeader()" class="element logo">
      <img [src]="headerSrc" alt="" draggable="false" />
    </div>
    <div class="element write-to-us">
      <a href="#lets-work" draggable="false">Написать</a>
    </div>
  </div>
  <div id="first-block">
    <div class="content">
      <div class="title">Разумная продуктовая <br />дизайн-команда</div>
      <div class="memoji albina-memoji">
        <a href="#">
          <img
            src="assets/images/Albina.png"
            alt="memoji png"
            draggable="false"
          />
        </a>
      </div>
      <div class="memoji ilyaU-memoji">
        <a href="#">
          <img
            src="assets/images/IlyaU.png"
            alt="memoji png"
            draggable="false"
          />
        </a>
      </div>
      <div class="description">
        <div class="text">
          <p>
            Создаём цифровые продукты <br />
            и запускаем сервисы для <br />
            стартапов и корпораций
            <span>
              <img
                src="assets/icons/sparkles.png"
                alt="stars img"
                draggable="false"
            /></span>
          </p>
        </div>
      </div>
      <div class="price-button">
        <button>
          <a href="#how-we-work"><p>от 860 ₽/час</p></a>
        </button>
      </div>
    </div>
  </div>
  <div class="short-about">
    <div class="text">
      Работаем сообща и <span class="cursive">с душой </span>
      <img
        src="assets/icons/sparkles.png"
        alt="stars img"
        draggable="false"
      /><br />
      чтобы делать невообразимое
    </div>
  </div>
  <div class="about">
    <div class="left">
      <div class="block-left green-bg">
        <div class="text">
          <p>
            Мы — команда <br />
            дизайнеров, <br />
            редакторов, <br />
            разработчиков и <br />
            продактов
          </p>
        </div>
        <div class="memoji-list">
          <div class="memoji ilana-memoji">
            <img
              src="assets/images/Ilana.png"
              alt="memoji png"
              draggable="false"
            />
          </div>
          <div class="memoji ilyaK-memoji">
            <img
              src="assets/images/IlyaK.png"
              alt="memoji png"
              draggable="false"
            />
          </div>
          <div class="memoji danya-memoji">
            <img
              src="assets/images/Danya.png"
              alt="memoji png"
              draggable="false"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="block-right green-bg">
        <div class="text">
          <p>
            дизайним веб, интерфейсы, <br />
            коммуникации, айдентику, <br />
            проводим исследования, <br />
            собираем сайты, <br />
            разрабатываем <br />
            веб-сервисы и <br />
            приложения
          </p>
        </div>
      </div>
      <a class="about-button" href="#">
        <p class="text">
          О команде
          <span>
            <img
              src="assets/icons/arrow-right-white.svg"
              alt="arrow icon"
              draggable="false"
            />
          </span>
        </p>
      </a>
    </div>
  </div>
  <div class="some-projects">
    <div class="title">
      <p>Вот некоторые наши <span>проекты</span></p>
    </div>
    <div class="project-list">
      <div class="item project hotline">
        <div class="project-title">
          <p>
            Hotline
            <span class="line">—</span>
            <br />
            <span>облачный хостинг</span>
          </p>
        </div>
        <div class="project-case-btn">
          <div class="wrapper">
            <a href=""><p>смотреть кейс</p></a>
          </div>
        </div>
        <div class="project-description">
          <p>
            Полностью задизайнили <br />
            стартап: брендинг, сайт и <br />
            коммуникации
          </p>
        </div>
        <div class="project-preview"></div>
      </div>
      <div class="item project pn development-stage">
        <div class="project-title">
          <p>
            Петербургская
            <br />
            Недвижимость
          </p>
        </div>
        <div class="project-case-btn">
          <div class="wrapper">
            <a><p>скоро</p></a>
          </div>
        </div>
        <div class="project-description">
          <p>
            Прямо сейчас переделываем <br />
            сайт и разрабатываем новую <br />
            дизайн-систему для <br />
            крупнейшего застройщика <br />Санкт-Петербурга
          </p>
        </div>
        <div class="project-preview">
          <img
            src="assets/images/PN-case-preview.png"
            alt="PN case preview image"
            draggable="false"
          />
        </div>
      </div>
      <div class="item project bequick">
        <div class="project-title">
          <p>
            Bequick
            <span class="line">—</span>
            <br />
            <span>курьерская служба</span>
          </p>
        </div>
        <div class="project-case-btn">
          <div class="wrapper">
            <a href=""><p>смотреть кейс</p></a>
          </div>
        </div>
        <div class="project-description">
          <p>
            Брендинг и айдентика для <br />
            курьерской службы
          </p>
        </div>
        <div class="project-preview"></div>
      </div>
      <div class="item project either">
        <div class="project-title">
          <p>
            Either Digital
            <span class="line">—</span>
            <br />
            <span>музыкальный лейбл</span>
          </p>
        </div>
        <div class="project-description">
          <p>(сайт собран и наполнен заказчиком)</p>
        </div>
        <div class="project-case-btn">
          <div class="wrapper">
            <a href=""><p>открыть сайт</p></a>
          </div>
        </div>
      </div>
      <a class="item all-cases-btn">
        <p>
          Все кейсы
          <span>
            <img
              src="assets/icons/arrow-right-white.svg"
              alt="arrow icon"
              draggable="false"
            />
          </span>
        </p>
      </a>
    </div>
  </div>
  <div id="how-we-work" class="how-we-work">
    <div class="title"><p>Как мы работаем</p></div>
    <div class="list">
      <div class="block dedicated-team">
        <div class="block-title"><p>Выделенная команда</p></div>
        <div class="block-description">
          <p>
            Выделенная команда на ваш проект, <br />
            работающая недельными спринтами
          </p>
        </div>
        <div class="block-price"><p>от 35 000₽/спринт</p></div>
      </div>
      <div class="block designers-outstaffing">
        <div class="block-title"><p>Аутстаффинг дизайнеров</p></div>
        <div class="block-description">
          <p>Работа отдельных дизайнеров <br />вместе с вашей командой</p>
        </div>
        <div class="block-price">
          <p>
            от
            <span class="old-price">
              1200₽/час
              <img
                src="assets/images/strikethrough-text.svg"
                alt="strikethrough effect for text"
                draggable="false"
              />
            </span>
            <span class="new-price">860₽/час</span>
          </p>
        </div>
      </div>
      <div class="block subscription">
        <div class="block-title">
          <p>
            Подписка для продукта <br />
            на <span class="cursive">безлимитную</span> дизайн-поддержку
          </p>
        </div>

        <div class="block-wrapper">
          <div class="block-price">
            <p>экономьте до <span class="cursive">миллиона</span> ₽ в год</p>
          </div>
          <div class="block-info"><p>скоро...</p></div>
        </div>
      </div>
      <div class="block special-conditions">
        <div class="block-title">
          <p>
            Специальные условия для <br />
            некоммерческих организаций <br />
            и социальных проектов
          </p>
        </div>
        <div class="block-wrapper">
          <div class="block-description">
            <p>
              Мы хотим сделать этот мир лучше, поэтому с социальными <br />
              некоммерческими проектами работаем на специальных условиях. <br />
              Дизайн должен приносить пользу обществу!
            </p>
          </div>
          <div class="block-info">
            <div class="block-info-content">
              <a href="#">
                <p>
                  подробнее
                  <img
                    src="assets/icons/arrow-right-black.svg"
                    alt=""
                    draggable="false"
                  />
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="lets-work" class="lets-work">
    <div class="title"><p>Давайте же работать!</p></div>
    <div class="lets-work-description">
      <p>
        Оставьте заявочку, и мы ответим <br />
        в течение суток, даже в выходные
      </p>
    </div>
    <div class="lets-work-button">
      <a href="https://t.me/razoom_art" target="_blank"
        ><p>Написать в Телеграм</p></a
      >
    </div>
    <div class="lets-work-memoji">
      <img
        src="assets/images/Ilana2.png"
        alt="memoji image"
        draggable="false"
      />
    </div>
  </div>
  <div id="footer">
    <div class="left">
      <div class="studio-logo">
        <img
          src="../assets/icons/razoomart-logo2.jpg"
          alt="razoomart logo"
          draggable="false"
        />
      </div>
      <div class="channel">
        <p>канал в телеграме</p>
        <a href="https://t.me/razoom_art" target="_blank"><p>@razoom_art</p></a>
      </div>
    </div>
    <div class="right">
      <div class="studio-info">
        <p>since 2022</p>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
