@font-face {
  font-family: Intl;
  src: url("/assets/fonts/Intl-Regular.otf") format("opentype");
}

@font-face {
  font-family: NewYorkItalic;
  src: url("/assets/fonts/NewYorkItalic.ttf") format("truetype");
}

.content {
  width: 100%;
  height: 100%;
  padding: 0 0.5952380952380952vw;

  .cursive {
    font-family: NewYorkItalic;
    font-style: italic;
  }

  #header {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 5.119047619047619vw;
    padding: 0.17619047619047616vw 4.166666666666667vw 0 4.166666666666667vw;

    background: linear-gradient(
        0deg,
        transparent 0,
        transparent 30%,
        #00000030
    );

    display: flex;
    justify-content: space-between;
    align-items: center;

    .element {
      width: 9.107142857142858vw;
      height: 2.738095238095238vw;

      a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Inter", sans-serif;
        font-size: 1.1904761904761905vw;
        color: #fff;
        text-decoration: none;
      }

      img {
        min-width: 10vw;
        max-width: 10vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;

        &:hover {
          transform: scale(1.1);
          transition: 0.2s;

          filter: drop-shadow(0 0 1.1904761904761905vw #92ff00);
        }

        &:active {
          transform: scale(0.99);
        }
      }
    }

    .main,
    .write-to-us {
      background-color: #201f1e;
      border-radius: 59.464285714285715vw;

      transition: 0.2s;

      &:hover {
        transform: scale(1.1);
        transition: 0.2s;
      }

      &:active {
        transform: scale(0.99);
      }
    }
  }

  #first-block {
    width: 100%;
    height: 47.61904761904762vw;

    display: flex;
    background-color: #5e6eff;

    border-bottom-left-radius: 3.5714285714285716vw;
    border-bottom-right-radius: 3.5714285714285716vw;

    .content {
      width: 100%;
      height: 100%;
      margin-top: 7.738095238095238vw;
      padding: 0 3.5714285714285716vw;
      color: #fff;
      font-family: Intl, sans-serif;

      .title {
        font-size: 6.5476190476190474vw;
        line-height: 1;
      }

      .description {
        width: 100%;

        .text {
          width: 85.77380952380952vw;
          height: 11.845238095238095vw;
          padding-top: 12.452380952380953vw;
          font-size: 2.9761904761904763vw;

          span {
            img {
              width: 3.1547619047619047vw;
              height: 3.1547619047619047vw;
            }
          }
        }
      }

      .price-button {
        position: absolute;
        left: 64.22619047619048vw;
        top: 37.20238095238095vw;

        button {
          width: 30.38095238095238vw;
          height: 6.845238095238095vw;
          border: none;
          color: #201f1e;
          background: #fff;
          font-family: Intl, sans-serif;
          font-size: 3.869047619047619vw;
          border-radius: 59.464285714285715vw;
          transition: 0.2s;

          a {
            width: 100%;
            height: 100%;
            text-decoration: none;

            p {
              color: #000;
            }
          }

          &:hover {
            background-color: #fef747;
            box-shadow: 0 0 2.9761904761904763vw #fef747;
            transform: rotate(-3deg) scale(1.2);
            transition: 0.2s;
          }
        }
      }

      .memoji {
        position: absolute;
        width: 17.261904761904763vw;
        height: 17.261904761904763vw;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .albina-memoji {
        left: 80.89880952380952vw;
        top: 8.571428571428571vw;
        transition: 0.2s;

        img {
          animation: memojiAnim1 10s infinite;
        }

        &:hover {
          transform: rotate(-2deg) scale(1.1);
          transition: 0.5s;

          a {
            cursor: default;
          }
        }
      }

      .ilyaU-memoji {
        left: 67.33333333333333vw;
        top: 18.035714285714285vw;
        transition: 0.2s;

        img {
          animation: memojiAnim2 10s infinite;
        }

        &:hover {
          transform: rotate(2deg) scale(1.1);
          transition: 0.5s;

          a {
            cursor: default;
          }
        }
      }
    }
  }

  .short-about {
    width: 100%;
    height: 19.047619047619047vw;
    margin-top: 0.5952380952380952vw;
    background-color: white;
    border-radius: 3.5714285714285716vw;

    .text {
      color: #201f1e;
      width: 100%;
      height: 100%;
      font-family: Intl, sans-serif;
      padding: 3.5714285714285716vw;
      font-size: 4.761904761904762vw;

      img {
        width: 3.1547619047619047vw;
        height: 3.1547619047619047vw;
      }
    }
  }

  .about {
    display: flex;
    width: 100%;
    height: 41.666666666666664vw;
    margin-top: 0.5952380952380952vw;

    .left {
      width: 56.13095238095238vw;
      height: 100%;
      margin-right: 0.5952380952380952vw;

      .block-left {
        width: 100%;
        height: 100%;

        .text {
          padding: 2.380952380952381vw;
          color: #201f1e;

          p {
            margin: 0;
            font-family: Intl, sans-serif;
            font-size: 3.2vw;
            line-height: 1;
          }
        }

        .memoji-list {
          position: absolute;
          left: 0;
          top: 79.76190476190476vw;

          .memoji {
            img {
              width: 12.797619047619047vw;
              height: 15.178571428571429vw;
              transition: 0.2s;

              &:hover {
                transform: rotate(-2deg) scale(1.1);
                transition: 0.5s;
              }
            }
          }

          .ilana-memoji {
            position: absolute;
            left: 32vw;
            top: -2vw;
            animation: memojiAnim1 8s infinite;
          }

          .ilyaK-memoji {
            position: absolute;
            left: 20vw;
            top: 10vw;
            animation: memojiAnim1 12s infinite;

            img {
              width: 13vw;
              height: 16vw;
            }
          }

          .danya-memoji {
            position: absolute;
            left: 35vw;
            top: 13vw;
            animation: memojiAnim1 14s infinite;

            img {
              height: 14vw;
            }
          }
        }
      }
    }

    .right {
      width: 56.13095238095238vw;
      height: 100%;

      .block-right {
        width: 100%;
        height: 29.761904761904763vw;

        .text {
          padding: 1.7857142857142858vw 2.380952380952381vw;
          color: #201f1e;

          p {
            text-align: end;
            margin: 0;
            font-family: Intl, sans-serif;
            font-size: 3.2vw;
            line-height: 1;
          }
        }
      }

      .about-button {
        margin-top: 0.5952380952380952vw;
        height: 11.30952380952381vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 59.464285714285715vw;

        background-color: #201f1e;

        text-decoration: none;
        color: #fff;

        border: 0.2976190476190476vw solid #ffffff;
        transition: 0.2s;

        .text {
          height: 100%;
          display: flex;
          align-items: center;
          background-color: transparent;
          border: none;
          color: #ffffff;
          font-size: 4.166666666666667vw;
          font-family: Intl, sans-serif;

          span {
            display: flex;
            width: 6.761904761904762vw;
            height: 100%;
            align-items: center;
            justify-content: center;

            img {
              width: 4.761904761904762vw;
              height: 2.6785714285714284vw;
            }
          }
        }

        &:hover {
          transform: scale(1.03);
          transition: 0.2s;
        }

        &:active {
          transform: scale(0.99);
        }
      }
    }

    .green-bg {
      background-color: #b2dd57;
      border-radius: 2.380952380952381vw;
    }
  }

  .some-projects {
    width: 100%;
    height: 81.9047619047619vw;
    margin-top: 5.9523809523809526vw;

    .title {
      padding: 0 0 0 2.857142857142857vw;

      p {
        color: #ffffff80;
        font-size: 5.0523809523809526vw;
      }

      span {
        color: #ffffff;
      }
    }

    .project-list {
      width: 100%;
      height: 72.97619047619048vw;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 2.9761904761904763vw;
      gap: 0.5952380952380952vw;

      .project {
        display: flex;
        flex-direction: row;
        width: 50%;
        height: 36.19047619047619vw;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: #fff;
        padding: 1.7857142857142858vw;
        border-radius: 2.380952380952381vw;

        &-title {
          width: 50%;
          display: flex;
          align-self: flex-start;

          p {
            color: rgba(32, 31, 30, 1);
            font-size: 2.6785714285714284vw;
            font-family: Intl, sans-serif;
            margin: 0;
            line-height: 1;

            .line {
              font-size: 2.6785714285714284vw;
            }

            span {
              color: rgba(32, 31, 30, 0.6);
              font-size: 2.5vw;
            }
          }
        }

        &-description {
          display: flex;
          height: 100%;
          padding-top: 1.7857142857142858vw;

          p {
            color: rgba(32, 31, 30, 0.8);
            font-size: 1.4880952380952381vw;
          }
        }

        &-case-btn {
          display: flex;
          align-self: baseline;
          align-content: center;
          justify-content: flex-end;
          width: 50%;

          .wrapper {
            width: 12.142857142857142vw;
            height: 3.3333333333333335vw;

            border: 0.11904761904761904vw solid rgba(0, 0, 0, 0.6);
            border-radius: 59.464285714285715vw;
            transition: 0.3s;

            a {
              display: flex;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              color: #000;
              font-size: 1vw;
              width: 100%;
              height: 100%;
            }
          }
        }

        &-preview {
          display: flex;
          justify-content: flex-start;
          align-self: center;
          width: 50%;
          height: 80%;
          margin-bottom: 4.257142857142857vw;

          img {
            width: 100%;
            height: 100%;
          }
        }

        transition: 0.3s;

        &:hover {
          transform: scale(1.01);
          transition: 0.1s;
          cursor: pointer;
        }
      }

      .hotline {
        background-color: #ddff20;

        .project-case-btn {
          .wrapper:hover {
            background-color: #201f1e;
            transition: 0.3s;

            a {
              color: #fff;
            }
          }
        }
      }

      .bequick {
        background-color: #201f1e;

        .project-title {
          width: 60%;

          p {
            color: #fff;

            span {
              color: rgba(255, 255, 255, 0.6);
            }
          }
        }

        .project-case-btn {
          width: 40%;

          .wrapper {
            border: 0.11904761904761904vw solid white;

            a {
              color: white;
            }
          }

          .wrapper:hover {
            background-color: white;
            transition: 0.3s;

            a {
              color: #000;
            }
          }
        }

        .project-description {
          p {
            color: rgba(255, 255, 255, 0.6);
          }
        }
      }

      .pn {
        .project-title p {
          //line-height: 1;
        }

        background-color: #fcfcfc;
      }

      .either {
        height: 23.69047619047619vw;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #333333;

        .project-title {
          width: 100%;

          p {
            color: #fff;

            span {
              color: rgba(255, 255, 255, 0.6);
            }
          }
        }

        .project-case-btn {
          width: 30%;

          .wrapper {
            width: 11.369047619047619vw;
            height: 3.3333333333333335vw;
            border: 0.11904761904761904vw solid white;

            a {
              color: white;
            }
          }

          .wrapper:hover {
            background-color: white;
            transition: 0.3s;

            a {
              color: #000;
            }
          }

          padding-top: 11.904761904761905vw;
        }

        .project-description {
          width: 70%;
          padding-top: 15.24vw;

          height: 3.5714285714285716vw;
          display: flex;
          align-items: flex-end;
          justify-content: center;

          p {
            width: 100%;
            font-size: 1.4880952380952381vw;
            color: rgba(255, 255, 255, 0.6);
          }
        }

        .project-preview {
          display: none;
        }
      }

      .development-stage {
        .project-case-btn {
          .wrapper {
            border: none;

            a {
              font-style: italic;
              text-transform: uppercase;
              font-size: 1.1904761904761905vw;
              cursor: default;
            }
          }
        }

        &:hover {
          transform: scale(1);
          cursor: default;
        }
      }

      .all-cases-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
        width: 48.7vw;
        height: 11.89992380952381vw;
        border: 0.2976190476190476vw solid #ffffff;
        background-color: #201f1e;
        border-radius: 59.464285714285715vw;
        transition: 0.2s;

        p {
          display: flex;
          height: 100%;
          text-decoration: none;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-size: 4.166666666666667vw;

          span {
            display: flex;
            width: 6.761904761904762vw;
            height: 100%;
            align-items: center;
            justify-content: center;

            img {
              width: 4.761904761904762vw;
              height: 2.6785714285714284vw;
            }
          }
        }

        &:hover {
          transform: scale(1.03);
          transition: 0.2s;
        }

        &:active {
          transform: scale(0.99);
        }
      }
    }
  }

  .how-we-work {
    width: 100%;
    height: 82.95238095238095vw;
    margin-top: 5.357142857142857vw;

    .title {
      color: #ffffff60;
      font-size: 5.9523809523809526vw;
      padding: 0 0 0 2.857142857142857vw;
    }

    .list {
      width: 100%;
      height: 73vw;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 2.9761904761904763vw;
      gap: 0.5952380952380952vw;

      .block {
        border-radius: 2.6785714285714284vw;

        padding: 2.261904761904762vw;

        &-description {
          margin-top: 1.4285714285714286vw;

          p {
            color: rgba(32, 31, 30, 0.6);
            font-size: 1.7857142857142858vw;
          }
        }

        &-price {
          margin-top: 3.6904761904761907vw;

          p {
            font-size: 3.5714285714285716vw;
          }
        }
      }

      .dedicated-team,
      .designers-outstaffing {
        width: 49.1vw;
        height: 22.023809523809526vw;
        background-color: #fff;

        .block-title {
          p {
            font-size: 3.2738095238095237vw;
          }
        }
      }

      .designers-outstaffing {
        .block-price {
          p .old-price {
            img {
              position: absolute;
              width: 20.69047619047619vw;
              height: 3.057142857142857vw;
              left: 55.523809523809526vw;
              filter: drop-shadow(
                  0 0.23809523809523808vw 0.23809523809523808vw rgba(0, 0, 0, 0.2)
              );
            }

            color: rgba(32, 31, 30, 0.3);
          }

          p .new-price {
            color: #f44730;
          }
        }
      }

      .dedicated-team,
      .designers-outstaffing,
      .special-conditions {
        color: #000;
      }

      .subscription,
      .special-conditions {
        width: 100%;

        .block-title {
          p {
            font-size: 4.166666666666667vw;
            line-height: 1.08;
          }
        }
      }

      .subscription {
        background-color: #6a7aff;
        height: 21.80952380952381vw;

        .block-wrapper {
          display: flex;
          justify-content: space-between;

          .block-price {
            display: flex;
            width: 40.595238095238095vw;
            height: 4.761904761904762vw;
            background-color: #fff;
            border-radius: 59.464285714285715vw;
            justify-content: center;
            align-items: center;

            p {
              color: #201f1e;
              font-size: 2.380952380952381vw;
            }
          }

          .block-info {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            p {
              margin: 0;
              font-size: 2.380952380952381vw;
            }
          }
        }
      }

      .special-conditions {
        background-color: #f3da80;
        height: 27.88095238095238vw;

        .block-wrapper {
          display: flex;
          justify-content: space-between;

          .block-description {
            margin-top: 2.9761904761904763vw;
          }

          .block-info {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            &-content {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 11.904761904761905vw;
              height: 3.3333333333333335vw;
              border: 0.11904761904761904vw solid rgba(0, 0, 0, 0.6);
              border-radius: 59.464285714285715vw;

              transition: 0.3s;

              a {
                display: flex;
                color: rgba(0, 0, 0, 1);
                text-decoration: none;
                font-size: 1.1904761904761905vw;

                img {
                  width: 1.4880952380952381vw;
                }
              }

              &:hover {
                transform: scale(1.1);
                transition: 0.2s;
              }

              &:active {
                transform: scale(0.99);
              }
            }
          }
        }
      }
    }
  }

  .lets-work {
    position: absolute;
    width: 98.8vw;
    height: 37.857142857142854vw;
    margin-top: 5.9523809523809526vw;
    border-radius: 3.5714285714285716vw;
    padding: 2.3vw 0 2.380952380952381vw 2.380952380952381vw;
    background-color: #fff;

    .title {
      p {
        color: #000;
        font-size: 5.357142857142857vw;
      }
    }

    &-description {
      margin-top: 1.7857142857142858vw;

      p {
        font-size: 2.380952380952381vw;
        color: rgba(32, 31, 30, 0.6);
      }
    }

    &-button {
      align-self: flex-start;
      width: 48.523809523809526vw;
      height: 9.714285714285714vw;
      background-color: #019ff8;
      border-radius: 2.9761904761904763vw;
      margin-top: 10.214285714285714vw;

      transition: 0.2s;

      a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        p {
          color: #fff;
          font-size: 2.9761904761904763vw;
        }
      }

      &:hover {
        filter: drop-shadow(0 0 1.1904761904761905vw rgba(1, 159, 248, 0.7));
        transform: scale(1.05);
        transition: 0.2s;
      }

      &:active {
        transform: scale(0.99);
      }
    }

    &-memoji {
      position: absolute;
      right: 4.166666666666667vw;
      bottom: 0;

      width: 30.476190476190474vw;
      height: 35.476190476190474vw;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  #footer {
    margin-top: 46.19047619047559vw;
    width: 100%;
    height: 7.576190476190474vw;
    padding: 0 0.8928571428571429vw 1.7857142857142858vw 0.8928571428571429vw;

    display: flex;

    .left {
      width: 50%;
      display: flex;

      .studio-logo {
        display: flex;
        align-items: flex-end;
        width: auto;
        height: 100%;

        img {
          width: 4.940476190476191vw;
          height: 4.940476190476191vw;
          border-radius: 50%;
        }
      }

      .channel {
        display: flex;
        height: 100%;
        flex-direction: column;
        margin-left: 1.7857142857142858vw;
        justify-content: flex-end;

        p {
          font-size: 1.7857142857142858vw;
        }

        a {
          text-decoration: underline;
          text-decoration-color: rgba(255, 255, 255, 0.6);
          text-align: start;

          p {
            color: rgba(255, 255, 255, 0.6);
          }

          &:visited {
          }
        }

        &-link {
          display: flex;
          align-items: flex-end;
          width: 100%;
          height: 100%;
        }
      }
    }

    .right {
      width: 50%;
      margin-left: 50%;
      display: flex;
      flex-direction: column;

      .studio-info {
        display: flex;
        width: auto;
        height: 100%;
        align-self: flex-end;
        align-items: flex-end;

        p {
          color: rgba(255, 255, 255, 0.6);
          font-size: 1.7857142857142858vw;
        }
      }
    }
  }
}

@keyframes memojiAnim1 {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(0.17857142857142858vw);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes memojiAnim2 {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-0.17857142857142858vw);
  }
  100% {
    transform: translateY(0);
  }
}
