<div class="stack">
  <div
    waIntersectionObserver
    waIntersectionThreshold="0.5"
    (waIntersectionObservee)="
      intersectionService.onIntersection($event, 'blockAppearFade', 'hidden')
    "
    class="title hidden"
  >
    <p>Используемые инструменты</p>
  </div>
  <div
    waIntersectionObserver
    (waIntersectionObservee)="
      intersectionService.onIntersection($event, 'blockAppearFadeSm', 'hidden')
    "
    class="content hidden"
  >
    <div class="tech-list">
      <div class="list-title">
        <p>Дизайн</p>
      </div>
      <div class="technologies">
        <div class="item item-1">
          <div class="tech-logo">
            <img
              [src]="icons.figma.link"
              [alt]="icons.figma.description"
              draggable="false"
            />
          </div>
          <div class="tech-title"><p>Figma</p></div>
          <div class="tech-description">
            <p>
              Наш главный инструмент для <br />
              проектирования и дизайна
            </p>
          </div>
        </div>
        <div class="item item-2">
          <div class="tech-logo">
            <img
              [src]="icons.photoshop.link"
              [alt]="icons.photoshop.description"
              draggable="false"
            />
          </div>
          <div class="tech-title"><p>Photoshop</p></div>
          <div class="tech-description">
            <p>
              Создаём графику и <br />
              иллюстрации
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="tech-list">
      <div class="list-title">
        <p>Менеджмент</p>
      </div>
      <div class="technologies">
        <div class="item item-3">
          <div class="tech-logo">
            <img
              [src]="icons.notion.link"
              [alt]="icons.notion.description"
              draggable="false"
            />
          </div>
          <div class="tech-title"><p>Notion</p></div>
          <div class="tech-description">
            <p>
              Весь менеджмент проекта, <br />
              полностью прозрачный <br />
              для заказчика
            </p>
          </div>
        </div>
        <div class="item item-4">
          <div class="tech-logo">
            <img
              [src]="icons.telegram.link"
              [alt]="icons.telegram.description"
              draggable="false"
            />
          </div>
          <div class="tech-title"><p>Telegram</p></div>
          <div class="tech-description">
            <p>
              Для каждого проекта <br />
              создаём групповой чат, где <br />
              общаемся с заказчиком
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="tech-list">
      <div class="list-title">
        <p>Моушн и графика</p>
      </div>
      <div class="technologies">
        <div class="item item-5">
          <div class="tech-logo">
            <img
              [src]="icons.afterEffects.link"
              [alt]="icons.afterEffects.description"
              draggable="false"
            />
          </div>
          <div class="tech-title"><p>After Effects</p></div>
          <div class="tech-description">
            <p>
              Для создания анимаций и <br />
              моушн-графики
            </p>
          </div>
        </div>
        <div class="item item-6">
          <div class="tech-logo">
            <img
              [src]="icons.blender.link"
              [alt]="icons.blender.description"
              draggable="false"
            />
          </div>
          <div class="tech-title"><p>Blender</p></div>
          <div class="tech-description">
            <p>
              Для создания 3D-графики <br />
              и красивых визуализаций
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="tech-list">
      <div class="list-title">
        <p>No-code</p>
      </div>
      <div class="technologies">
        <div class="item item-7">
          <div class="tech-logo">
            <img
              [src]="icons.readymag.link"
              [alt]="icons.readymag.description"
              draggable="false"
            />
          </div>
          <div class="tech-title"><p>Readymag</p></div>
          <div class="tech-description">
            <p>
              No-code конструктор для <br />
              создания лендингов
            </p>
          </div>
        </div>
        <div class="item item-8">
          <div class="tech-logo">
            <img
              [src]="icons.webflow.link"
              [alt]="icons.webflow.description"
              draggable="false"
            />
          </div>
          <div class="tech-title"><p>Webflow</p></div>
          <div class="tech-description">
            <p>
              No-code конструктор для <br />
              вёрстки больших проектов
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="tech-list">
      <div class="list-title">
        <p>Разработка</p>
      </div>
      <div class="technologies technologies-many">
        <div class="item item-9">
          <div class="tech-logo">
            <img
              [src]="icons.swift.link"
              [alt]="icons.swift.description"
              draggable="false"
            />
          </div>
          <div class="tech-title"><p>Swift</p></div>
          <div class="tech-description">
            <p>
              Разработка <br />
              iOS-приложений
            </p>
          </div>
        </div>
        <div class="item item-10">
          <div class="tech-logo">
            <img
              [src]="icons.kotlin.link"
              [alt]="icons.kotlin.description"
              draggable="false"
            />
          </div>
          <div class="tech-title"><p>Kotlin</p></div>
          <div class="tech-description">
            <p>
              Разработка <br />
              Android-приложений
            </p>
          </div>
        </div>
        <div class="item item-11">
          <div class="tech-logo">
            <img
              [src]="icons.vscode.link"
              [alt]="icons.vscode.description"
              draggable="false"
            />
          </div>
          <div class="tech-title"><p>Фронтенд</p></div>
          <div class="tech-description">
            <p>
              Обычно работаем на Angular, <br />
              React, но можем работать и с <br />
              другими технологиями
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
