<div class="content">
  <div id="top-space"></div>
  <div class="block first-block">
    <div class="title">
      <p>
        Мы собрались в 2022 году, чтобы открыть <br />
        диджитал-студию нового поколения <br />
        и создавать потрясающие продукты, <br />
        которые будут в себя влюблять
        <img [src]="icons.sparkles.link" [alt]="icons.sparkles.description" />
      </p>
    </div>
  </div>
  <div class="advantages">
    <div class="item advantages-item">
      <div class="title">
        <p>
          Продуктовый <br />
          дизайн
        </p>
      </div>
      <div class="description">
        <p>
          Задизайним сайт, сервис, мобильное <br />
          приложение, напишем тексты, соберём <br />
          прототипы, разработаем дизайн-систему
        </p>
      </div>
      <div class="preview">
        <img src="assets/images/cat.png" alt="image here" />
      </div>
    </div>
    <div class="item advantages-item">
      <div class="title">
        <p>
          Разработка <br />
          и no-code
        </p>
      </div>
      <div class="description">
        <p>
          Соберём сайт на no-code платформе или <br />
          сверстаем кодом, разработаем мобильное <br />
          приложение, сервис, интерфейс
        </p>
      </div>
      <div class="preview">
        <img src="assets/images/cat.png" alt="image here" />
      </div>
    </div>
    <div class="item advantages-item advantages-item-3">
      <div class="title">
        <p>Исследования</p>
      </div>
      <div class="description">
        <p>
          Исследуем рынок, построим карту <br />
          пути пользователя, дадим <br />
          рекомендации по юзабилити
        </p>
      </div>
      <div class="preview">
        <img src="assets/images/cat.png" alt="image here" />
      </div>
    </div>
    <div class="item advantages-item">
      <div class="title">
        <p>Контент</p>
      </div>
      <div class="description">
        <p>
          Напишем тексты, понятные для людей, <br />
          нарисуем иллюстрации, всё, что нужно <br />
          анимируем, можем даже в 3D
        </p>
      </div>
      <div class="preview">
        <img src="assets/images/cat.png" alt="image here" />
      </div>
    </div>
    <div class="item advantages-item advantages-item-5">
      <div class="title">
        <p>
          Брендинг и <br />
          коммуникации
        </p>
      </div>
      <div class="description">
        <p>
          Разработаем визуальную концепцию, <br />
          айдентику, создадим или обновим бренд
        </p>
      </div>
      <div class="preview">
        <img src="assets/images/cat.png" alt="image here" />
      </div>
    </div>
    <div class="item advantages-item">
      <div class="title">
        <p>
          Дизайн- <br />
          поддержка
        </p>
      </div>
      <div class="description">
        <p>
          Встроимся в вашу команду и будем <br />
          помогать дорабатывать продукт или <br />
          создавать контент для него
        </p>
      </div>
      <div class="preview">
        <img src="assets/images/cat.png" alt="image here" />
      </div>
    </div>
  </div>
  <div class="block our-principles">
    <div class="title">
      <p>Наши принципы</p>
    </div>
    <div class="content">
      <div class="item principle item-1">
        <div class="title">
          <p>Человечность</p>
        </div>
        <div class="description">
          <p>
            Общаемся с заказчиком <br />
            по-человечески, без лишней <br />
            корпоративной духоты
          </p>
        </div>
      </div>
      <div class="item principle item-2">
        <div class="title">
          <p>Открытость</p>
        </div>
        <div class="description">
          <p>
            Мы работаем бок о бок с <br />
            клиентом и всё ему показываем, <br />
            даже если не всё идёт гладко
          </p>
        </div>
      </div>
      <div class="item principle item-3">
        <div class="title">
          <p>Вовлечённость</p>
        </div>
        <div class="description">
          <p>
            Для нас главное — результат, <br />
            поэтому над каждым проектом <br />
            мы стараемся по максимуму
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="block team">
    <div class="title">
      <p>Команда</p>
    </div>
    <div class="content">
      <div class="item card">
        <div class="avatar">
          <img src="assets/images/memojis/artem.png" alt="" />
        </div>
        <div class="name">
          <p>
            Артём <br />
            Бергевич
          </p>
        </div>
        <div class="role">
          <p>Директор дизайна</p>
        </div>
      </div>
      <div class="item card">
        <div class="avatar">
          <img src="assets/images/memojis/ilyaU.png" alt="" />
        </div>
        <div class="name">
          <p>
            Илья <br />
            Устинов
          </p>
        </div>
        <div class="role">
          <p>Директор интернета</p>
        </div>
      </div>
      <div class="item card">
        <div class="avatar">
          <img src="assets/images/memojis/albina.png" alt="" />
        </div>
        <div class="name">
          <p>
            Альбина <br />
            Разумовская
          </p>
        </div>
        <div class="role">
          <p>Дизайнерка</p>
        </div>
      </div>
      <div class="item card">
        <div class="avatar">
          <img src="assets/images/memojis/maksim.png" alt="" />
        </div>
        <div class="name">
          <p>
            Максим <br />
            Худяков
          </p>
        </div>
        <div class="role">
          <p>Моушн и 3D дизайнер</p>
        </div>
      </div>
      <div class="item card">
        <div class="avatar">
          <img src="assets/images/memojis/ilana.png" alt="" />
        </div>
        <div class="name">
          <p>
            Илана <br />
            Мизиева
          </p>
        </div>
        <div class="role">
          <p>Дизайнерка</p>
        </div>
      </div>
      <div class="item card">
        <div class="avatar">
          <img src="assets/images/memojis/danya.png" alt="" />
        </div>
        <div class="name">
          <p>
            Даня <br />
            Юркин
          </p>
        </div>
        <div class="role">
          <p>Дизайнер</p>
        </div>
      </div>
      <div class="item card">
        <div class="avatar">
          <img src="assets/images/memojis/ilyaK.png" alt="" />
        </div>
        <div class="name">
          <p>
            Илья <br />
            Куртенко
          </p>
        </div>
        <div class="role">
          <p>Дизайнер</p>
        </div>
      </div>
      <div class="item card">
        <div class="avatar">
          <img src="assets/images/memojis/ivan.png" alt="" />
        </div>
        <div class="name">
          <p>
            Иван <br />
            Полевщиков
          </p>
        </div>
        <div class="role">
          <p>Дизайнер</p>
        </div>
      </div>
      <div class="item card">
        <div class="avatar">
          <img src="assets/images/memojis/bogdan.png" alt="" />
        </div>
        <div class="name">
          <p>
            Богдан <br />
            Володин
          </p>
        </div>
        <div class="role">
          <p>Разработчик</p>
        </div>
      </div>
      <div class="item card">
        <div class="avatar">
          <img src="assets/images/memojis/vova.png" alt="" />
        </div>
        <div class="name">
          <p>
            Владимир <br />
            Лапский
          </p>
        </div>
        <div class="role">
          <p>Разработчик</p>
        </div>
      </div>
    </div>
  </div>
  <div class="stack">
    <div class="title"><p>Используемые инструменты</p></div>
    <div class="content">
      <div class="tech-list">
        <div class="list-title">
          <p>Дизайн</p>
        </div>
        <div class="technologies">
          <div class="item item-1">
            <div class="tech-logo">
              <img
                [src]="icons.figma.link"
                [alt]="icons.figma.description"
                draggable="false"
              />
            </div>
            <div class="tech-title"><p>Figma</p></div>
            <div class="tech-description">
              <p>
                Наш главный инструмент для <br />
                проектирования и дизайна
              </p>
            </div>
          </div>
          <div class="item item-2">
            <div class="tech-logo">
              <img
                [src]="icons.photoshop.link"
                [alt]="icons.photoshop.description"
                draggable="false"
              />
            </div>
            <div class="tech-title"><p>Photoshop</p></div>
            <div class="tech-description">
              <p>
                Создаём графику и <br />
                иллюстрации
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="tech-list">
        <div class="list-title">
          <p>Менеджмент</p>
        </div>
        <div class="technologies">
          <div class="item item-3">
            <div class="tech-logo">
              <img
                [src]="icons.notion.link"
                [alt]="icons.notion.description"
                draggable="false"
              />
            </div>
            <div class="tech-title"><p>Notion</p></div>
            <div class="tech-description">
              <p>
                Весь менеджмент проекта, <br />
                полностью прозрачный <br />
                для заказчика
              </p>
            </div>
          </div>
          <div class="item item-4">
            <div class="tech-logo">
              <img
                [src]="icons.telegram.link"
                [alt]="icons.telegram.description"
                draggable="false"
              />
            </div>
            <div class="tech-title"><p>Telegram</p></div>
            <div class="tech-description">
              <p>
                Для каждого проекта <br />
                создаём групповой чат, где <br />
                общаемся с заказчиком
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="tech-list">
        <div class="list-title">
          <p>Моушн и графика</p>
        </div>
        <div class="technologies">
          <div class="item item-5">
            <div class="tech-logo">
              <img
                [src]="icons.afterEffects.link"
                [alt]="icons.afterEffects.description"
                draggable="false"
              />
            </div>
            <div class="tech-title"><p>After Effects</p></div>
            <div class="tech-description">
              <p>
                Для создания анимаций и <br />
                моушн-графики
              </p>
            </div>
          </div>
          <div class="item item-6">
            <div class="tech-logo">
              <img
                [src]="icons.blender.link"
                [alt]="icons.blender.description"
                draggable="false"
              />
            </div>
            <div class="tech-title"><p>Blender</p></div>
            <div class="tech-description">
              <p>
                Для создания 3D-графики <br />
                и красивых визуализаций
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="tech-list">
        <div class="list-title">
          <p>No-code</p>
        </div>
        <div class="technologies">
          <div class="item item-7">
            <div class="tech-logo">
              <img
                [src]="icons.readymag.link"
                [alt]="icons.readymag.description"
                draggable="false"
              />
            </div>
            <div class="tech-title"><p>Readymag</p></div>
            <div class="tech-description">
              <p>
                No-code конструктор для <br />
                создания лендингов
              </p>
            </div>
          </div>
          <div class="item item-8">
            <div class="tech-logo">
              <img
                [src]="icons.webflow.link"
                [alt]="icons.webflow.description"
                draggable="false"
              />
            </div>
            <div class="tech-title"><p>Webflow</p></div>
            <div class="tech-description">
              <p>
                No-code конструктор для <br />
                вёрстки больших проектов
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="tech-list">
        <div class="list-title">
          <p>Разработка</p>
        </div>
        <div class="technologies technologies-many">
          <div class="item item-9">
            <div class="tech-logo">
              <img
                [src]="icons.swift.link"
                [alt]="icons.swift.description"
                draggable="false"
              />
            </div>
            <div class="tech-title"><p>Swift</p></div>
            <div class="tech-description">
              <p>
                Разработка <br />
                iOS-приложений
              </p>
            </div>
          </div>
          <div class="item item-10">
            <div class="tech-logo">
              <img
                [src]="icons.kotlin.link"
                [alt]="icons.kotlin.description"
                draggable="false"
              />
            </div>
            <div class="tech-title"><p>Kotlin</p></div>
            <div class="tech-description">
              <p>
                Разработка <br />
                Android-приложений
              </p>
            </div>
          </div>
          <div class="item item-11">
            <div class="tech-logo">
              <img
                [src]="icons.vscode.link"
                [alt]="icons.vscode.description"
                draggable="false"
              />
            </div>
            <div class="tech-title"><p>Кодинг</p></div>
            <div class="tech-description">
              <p>
                Обычно работаем на React, <br />
                Angular и Next.JS, но можем <br />
                работать и с другими
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lets-work">
    <app-lets-work></app-lets-work>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
