<div class="content">
  <div id="top-space"></div>
  <div class="block first-block mtdef">
    <app-first-block></app-first-block>
  </div>
  <div class="advantages mtdef">
    <app-advantages></app-advantages>
  </div>
  <div class="our-principles mtdef">
    <app-principles></app-principles>
  </div>
  <div class="team mtdef">
    <app-team-members></app-team-members>
  </div>
  <div class="stac mtt">
    <app-stack></app-stack>
  </div>
  <div class="lets-work mtt" id="lets-work">
    <app-lets-work></app-lets-work>
  </div>
  <div id="footer">
    <app-footer></app-footer>
  </div>
</div>
