.content {
  padding: 0 0.5952380952380952vw;

  #top-space {
    height: 4.5vw;
    background-color: transparent;
  }

  .both {
    display: flex;
    gap: 0.5208333333333334vw;

    .our-principles {
      width: 50%;
    }
  }

  .item {
    border-radius: 2.0833333333333335vw;
    background-color: #201f1e;
  }
}
