<div class="content">
  <div id="top-space"></div>
  <div class="block first-block">
    <div class="title">
      <p>
        Мы собрались в 2022 году, чтобы открыть <br />
        диджитал-студию нового поколения <br />
        и создавать потрясающие продукты, <br />
        которые будут в себя влюблять
        <img [src]="icons.sparkles.link" [alt]="icons.sparkles.description" />
      </p>
    </div>
  </div>
  <div class="advantages">
    <div class="item advantages-item">
      <div class="title">
        <p>
          Продуктовый <br />
          дизайн
        </p>
      </div>
      <div class="description">
        <p>
          Задизайним сайт, сервис, мобильное <br />
          приложение, напишем тексты, соберём <br />
          прототипы, разработаем дизайн-систему
        </p>
      </div>
      <div class="preview">
        <img src="assets/images/cat.png" alt="image here" />
      </div>
    </div>
    <div class="item advantages-item">
      <div class="title">
        <p>
          Разработка <br />
          и no-code
        </p>
      </div>
      <div class="description">
        <p>
          Соберём сайт на no-code платформе или <br />
          сверстаем кодом, разработаем мобильное <br />
          приложение, сервис, интерфейс
        </p>
      </div>
      <div class="preview">
        <img src="assets/images/cat.png" alt="image here" />
      </div>
    </div>
    <div class="item advantages-item advantages-item-3">
      <div class="title">
        <p>Исследования</p>
      </div>
      <div class="description">
        <p>
          Исследуем рынок, построим карту <br />
          пути пользователя, дадим <br />
          рекомендации по юзабилити
        </p>
      </div>
      <div class="preview">
        <img src="assets/images/cat.png" alt="image here" />
      </div>
    </div>
    <div class="item advantages-item">
      <div class="title">
        <p>Контент</p>
      </div>
      <div class="description">
        <p>
          Напишем тексты, понятные для людей, <br />
          нарисуем иллюстрации, всё, что нужно <br />
          анимируем, можем даже в 3D
        </p>
      </div>
      <div class="preview">
        <img src="assets/images/cat.png" alt="image here" />
      </div>
    </div>
    <div class="item advantages-item advantages-item-5">
      <div class="title">
        <p>
          Брендинг и <br />
          коммуникации
        </p>
      </div>
      <div class="description">
        <p>
          Разработаем визуальную концепцию, <br />
          айдентику, создадим или обновим бренд
        </p>
      </div>
      <div class="preview">
        <img src="assets/images/cat.png" alt="image here" />
      </div>
    </div>
    <div class="item advantages-item">
      <div class="title">
        <p>
          Дизайн- <br />
          поддержка
        </p>
      </div>
      <div class="description">
        <p>
          Встроимся в вашу команду и будем <br />
          помогать дорабатывать продукт или <br />
          создавать контент для него
        </p>
      </div>
      <div class="preview">
        <img src="assets/images/cat.png" alt="image here" />
      </div>
    </div>
  </div>
  <div class="block our-principles">
    <div class="title">
      <p>Наши принципы</p>
    </div>
    <div class="content">
      <div class="item principle item-1">
        <div class="title">
          <p>Человечность</p>
        </div>
        <div class="description">
          <p>
            Общаемся с заказчиком <br />
            по-человечески, без лишней <br />
            корпоративной духоты
          </p>
        </div>
      </div>
      <div class="item principle item-2">
        <div class="title">
          <p>Открытость</p>
        </div>
        <div class="description">
          <p>
            Мы работаем бок о бок с <br />
            клиентом и всё ему показываем, <br />
            даже если не всё идёт гладко
          </p>
        </div>
      </div>
      <div class="item principle item-3">
        <div class="title">
          <p>Вовлечённость</p>
        </div>
        <div class="description">
          <p>
            Для нас главное — результат, <br />
            поэтому над каждым проектом <br />
            мы стараемся по максимуму
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="block team">
    <div class="title">
      <p>Команда</p>
    </div>
    <div class="content">
      <div class="item card">
        <div class="avatar">
          <img src="assets/images/memojis/artem.png" alt="" />
        </div>
        <div class="name">
          <p>
            Артём <br />
            Бергевич
          </p>
        </div>
        <div class="role">
          <p>Директор дизайна</p>
        </div>
      </div>
      <div class="item card">
        <div class="avatar">
          <img src="assets/images/memojis/ilyaU.png" alt="" />
        </div>
        <div class="name">
          <p>
            Илья <br />
            Устинов
          </p>
        </div>
        <div class="role">
          <p>Директор интернета</p>
        </div>
      </div>
      <div class="item card">
        <div class="avatar">
          <img src="assets/images/memojis/albina.png" alt="" />
        </div>
        <div class="name">
          <p>
            Альбина <br />
            Разумовская
          </p>
        </div>
        <div class="role">
          <p>Дизайнерка</p>
        </div>
      </div>
      <div class="item card">
        <div class="avatar">
          <img src="assets/images/memojis/maksim.png" alt="" />
        </div>
        <div class="name">
          <p>
            Максим <br />
            Худяков
          </p>
        </div>
        <div class="role">
          <p>Моушн и 3D дизайнер</p>
        </div>
      </div>
      <div class="item card">
        <div class="avatar">
          <img src="assets/images/memojis/ilana.png" alt="" />
        </div>
        <div class="name">
          <p>
            Илана <br />
            Мизиева
          </p>
        </div>
        <div class="role">
          <p>Дизайнерка</p>
        </div>
      </div>
      <div class="item card">
        <div class="avatar">
          <img src="assets/images/memojis/danya.png" alt="" />
        </div>
        <div class="name">
          <p>
            Даня <br />
            Юркин
          </p>
        </div>
        <div class="role">
          <p>Дизайнер</p>
        </div>
      </div>
      <div class="item card">
        <div class="avatar">
          <img src="assets/images/memojis/ilyaK.png" alt="" />
        </div>
        <div class="name">
          <p>
            Илья <br />
            Куртенко
          </p>
        </div>
        <div class="role">
          <p>Дизайнер</p>
        </div>
      </div>
      <div class="item card">
        <div class="avatar">
          <img src="assets/images/memojis/ivan.png" alt="" />
        </div>
        <div class="name">
          <p>
            Иван <br />
            Полевщиков
          </p>
        </div>
        <div class="role">
          <p>Дизайнер</p>
        </div>
      </div>
      <div class="item card">
        <div class="avatar">
          <img src="assets/images/memojis/bogdan.png" alt="" />
        </div>
        <div class="name">
          <p>
            Богдан <br />
            Володин
          </p>
        </div>
        <div class="role">
          <p>Разработчик</p>
        </div>
      </div>
      <div class="item card">
        <div class="avatar">
          <img src="assets/images/memojis/vova.png" alt="" />
        </div>
        <div class="name">
          <p>
            Владимир <br />
            Лапский
          </p>
        </div>
        <div class="role">
          <p>Разработчик</p>
        </div>
      </div>
    </div>
  </div>
</div>
