.content {
  width: 100%;
  height: 100%;
  padding: 0 0.5952380952380952vw;

  #top-space {
    height: 4.5vw;
    background-color: transparent;
  }

  .item {
    border-radius: 2.0833333333333335vw;
    background-color: #201f1e;
  }

  .first-block,
  .advantages,
  .our-principles,
  .team {
    margin-top: 0.5208333333333334vw;
  }

  .stack,
  .lets-work {
    margin-top: 4.6875vw;
  }
}
