<div class="content">
  <div class="first-block">
    <app-design-team></app-design-team>
  </div>
  <div class="short-about">
    <app-short-about></app-short-about>
  </div>
  <div class="about">
    <app-about-team></app-about-team>
  </div>
  <div class="some-projects">
    <app-cases-list></app-cases-list>
  </div>
  <div class="how-we-working" id="price">
    <app-how-we-working></app-how-we-working>
  </div>
  <div class="lets-work" id="lets-work">
    <app-lets-work></app-lets-work>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
