.content {
  width: 100%;
  height: 100%;
  padding: 0 0.5952380952380952vw;

  .first-block {
    width: 100%;
    height: 41.666666666666664vw;
  }

  .short-about {
    width: 100%;
    height: 16.666666666666668vw;
    margin-top: 0.5952380952380952vw;
  }

  .about {
    height: 36.458333333333336vw;
    margin-top: 0.5952380952380952vw;
  }

  .some-projects {
    width: 100%;
    height: 71.9047619047619vw;
    margin-top: 5.9523809523809526vw;
  }

  .how-we-working {
    width: 100%;
    height: 82.95238095238095vw;
    margin-top: 4.6875vw;
  }

  .lets-work {
    position: absolute;
    width: 98.8vw;
    height: 37.857142857142854vw;
    margin-top: 5.9523809523809526vw;
  }

  .footer {
    width: 100%;
    height: 7.576190476190474vw;
    margin-top: 46.19047619047559vw;
    padding: 0 0.8928571428571429vw 1.7857142857142858vw 0.8928571428571429vw;
  }
}
