<div class="content">
  <div id="header">
    <app-header></app-header>
  </div>
  <div id="first-block">
    <app-design-team></app-design-team>
  </div>
  <div id="short-about">
    <app-short-about></app-short-about>
  </div>
  <div id="about">
    <app-about-team></app-about-team>
  </div>
  <div id="some-projects">
    <app-cases-list></app-cases-list>
  </div>
  <div id="how-we-working">
    <app-how-we-working></app-how-we-working>
  </div>
  <div id="lets-work">
    <app-lets-work></app-lets-work>
  </div>
  <div id="footer">
    <app-footer></app-footer>
  </div>
</div>
