<div class="content">
  <div class="first-block" id="first-block">
    <app-design-team></app-design-team>
  </div>
  <div class="short-about mtdef">
    <app-short-about></app-short-about>
  </div>
  <div class="about mtdef">
    <app-about-team></app-about-team>
  </div>
  <div class="some-projects mtt">
    <app-cases-list></app-cases-list>
  </div>
  <div id="price"></div>
  <div class="how-we-working mtt">
    <app-how-we-working></app-how-we-working>
  </div>
  <div class="lets-work mtt" id="lets-work">
    <app-lets-work></app-lets-work>
  </div>
  <div id="footer">
    <app-footer></app-footer>
  </div>
</div>
