.content {
  width: 100%;
  padding: 0 0.5952380952380952vw;

  .first-block {
    width: 100%;
    height: 41.666666666666664vw;
  }

  .short-about {
    width: 100%;
    height: 16.666666666666668vw;
    margin-top: 0.5952380952380952vw;
  }

  .about {
    height: 36.458333333333336vw;
    margin-top: 0.5952380952380952vw;
  }

  .some-projects {
    width: 100%;
    margin-top: 5.9523809523809526vw;
  }

  .how-we-working {
    width: 100%;
    margin-top: 4.6875vw;
  }

  #lets-work {
    margin-top: 4.6875vw;
  }
}
