<div class="how-we-working">
  <div class="title"><p>Как мы работаем</p></div>
  <div class="list">
    <div class="block dedicated-team">
      <div class="block-title"><p>Выделенная команда</p></div>
      <div class="block-description">
        <p>
          Выделенная команда на ваш проект, <br />
          работающая недельными спринтами
        </p>
      </div>
      <div class="block-price"><p>от 35 000₽/спринт</p></div>
    </div>
    <div class="block designers-outstaffing">
      <div class="block-title"><p>Аутстаффинг дизайнеров</p></div>
      <div class="block-description">
        <p>Работа отдельных дизайнеров <br />вместе с вашей командой</p>
      </div>
      <div class="block-price">
        <p>
          от
          <span class="old-price">
            1200₽/час
            <img
              [src]="images.strikethroughText.link"
              [alt]="images.strikethroughText.description"
              draggable="false"
            />
          </span>
          <span class="new-price">860₽/час</span>
        </p>
      </div>
    </div>
    <div class="block special-conditions">
      <div class="block-title">
        <p>
          Специальные условия для <br />
          некоммерческих организаций <br />
          и социальных проектов
        </p>
      </div>
      <div class="block-wrapper">
        <div class="block-description">
          <p>
            Мы хотим сделать этот мир лучше, поэтому с социальными <br />
            некоммерческими проектами работаем на специальных условиях. <br />
            Дизайн должен приносить пользу обществу!
          </p>
        </div>
        <div class="block-info">
          <div class="block-info-content">
            <a href="#">
              <p>
                подробнее
                <img
                  [src]="icons.arrowRight.link"
                  [alt]="icons.arrowRight.description"
                  draggable="false"
                />
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
