.how-we-working {
  .title {
    color: #ffffff60;
    font-size: 5.208333333333333vw;
    padding: 0 0 0 3.6458333333333335vw;
  }

  .list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2.0833333333333335vw;
    gap: 0.5208333333333334vw;

    .block {
      border-radius: 2.34375vw;
      padding: 1.5625vw 2.0833333333333335vw;

      &-description {
        margin-top: 1.25vw;

        p {
          color: rgba(32, 31, 30, 0.6);
          font-size: 1.5625vw;
          line-height: 1.875vw;
        }
      }

      &-price {
        margin-top: 3.6904761904761907vw;

        p {
          font-size: 3.125vw;
        }
      }
    }

    .dedicated-team,
    .designers-outstaffing {
      width: 49.7%;
      background-color: #ffffff;

      .block-title {
        p {
          font-size: 3.125vw;
        }
      }
    }

    .designers-outstaffing {
      .block-price {
        p .old-price {
          img {
            position: absolute;
            width: 16.354166666666668vw;
            height: 3.5vw;
            left: 55.523809523809526vw;
            filter: drop-shadow(
              0 0.23809523809523808vw 0.23809523809523808vw rgba(0, 0, 0, 0.1)
            );
          }

          color: rgba(32, 31, 30, 0.3);
        }

        p .new-price {
          margin-left: 0.5vw;
          color: #f44730;
        }
      }
    }

    .dedicated-team,
    .designers-outstaffing,
    .special-conditions {
      color: #000;
    }

    .special-conditions {
      width: 100%;

      .block-title {
        p {
          font-size: 3.125vw;
          line-height: 3.125vw;
          color: #ffffff;
        }
      }
    }

    .special-conditions {
      display: flex;
      flex-direction: column;
      background: linear-gradient(
        92.23deg,
        #44c7ff 14.6%,
        #98b5ff 59.23%,
        #817ffd 99.01%
      );
      padding: 2.0833333333333335vw 3.125vw 2vw 2.0833333333333335vw;

      .block-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 1.25vw;

        .block-description p {
          color: #ffffffcc;
        }

        .block-info {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
        }
      }
    }

    .speedrun {
      width: 100%;
      height: 30.208333333333332vw;
      background-color: #ffffff;
      padding: 1.0416666666666667vw;

      .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        border-radius: 1.8vw;
        padding: 2.0833333333333335vw;
        background-color: #8de808;
        justify-content: space-between;

        .block-title {
          display: flex;

          p {
            font-size: 4.166666666666667vw;
            line-height: 4vw;
            color: #201f1e;

            span img {
              margin-left: 0.8vw;
              width: 17.4vw;
              height: 2.3203125vw;
            }

            .first-word {
              margin-bottom: 10px;
            }
          }
        }

        .block-info {
          width: 13.4375vw;
          height: 3.75vw;
          display: flex;

          &-wrapper {
            width: 100%;
            height: 100%;
            transition: 0.2s;
            border: 0.10416666666666667vw solid rgba(32, 31, 30, 0.6);
            border-radius: 52.03125vw;

            a {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 100%;
              font-size: 1.3541666666666667vw;
              text-decoration: none;
              color: #201f1e;

              img {
                margin-left: 0.5vw;
                width: 1.5vw;
                height: 1.5vw;
              }
            }

            &:hover {
              background-color: #201f1e;
              transition: 0.2s;
              transform: scale(1.05);

              a {
                color: #ffffff;

                img {
                  filter: invert(1);
                }
              }
            }

            &:active {
              transform: scale(0.95);
              transition: 0.2s;
            }
          }
        }
      }
    }
  }
}
