.how-we-working {
  width: 100%;
  height: 100%;

  .title {
    color: #ffffff60;
    font-size: 5.9523809523809526vw;
    padding: 0 0 0 2.857142857142857vw;
  }

  .list {
    width: 100%;
    height: 73vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2.9761904761904763vw;
    gap: 0.5952380952380952vw;

    .block {
      border-radius: 2.6785714285714284vw;

      padding: 2.261904761904762vw;

      &-description {
        margin-top: 1.4285714285714286vw;

        p {
          color: rgba(32, 31, 30, 0.6);
          font-size: 1.7857142857142858vw;
        }
      }

      &-price {
        margin-top: 3.6904761904761907vw;

        p {
          font-size: 3.5714285714285716vw;
        }
      }
    }

    .dedicated-team,
    .designers-outstaffing {
      width: 49.1vw;
      height: 22.023809523809526vw;
      background-color: #fff;

      .block-title {
        p {
          font-size: 3.2738095238095237vw;
        }
      }
    }

    .designers-outstaffing {
      .block-price {
        p .old-price {
          img {
            position: absolute;
            width: 20.69047619047619vw;
            height: 3.057142857142857vw;
            left: 55.523809523809526vw;
            filter: drop-shadow(
                0 0.23809523809523808vw 0.23809523809523808vw rgba(0, 0, 0, 0.2)
            );
          }

          color: rgba(32, 31, 30, 0.3);
        }

        p .new-price {
          color: #f44730;
        }
      }
    }

    .dedicated-team,
    .designers-outstaffing,
    .special-conditions {
      color: #000;
    }

    .subscription,
    .special-conditions {
      width: 100%;

      .block-title {
        p {
          font-size: 4.166666666666667vw;
          line-height: 1.08;
        }
      }
    }

    .subscription {
      background-color: #6a7aff;
      height: 21.80952380952381vw;

      .block-wrapper {
        display: flex;
        justify-content: space-between;

        .block-price {
          display: flex;
          width: 40.595238095238095vw;
          height: 4.761904761904762vw;
          background-color: #fff;
          border-radius: 59.464285714285715vw;
          justify-content: center;
          align-items: center;

          p {
            color: #201f1e;
            font-size: 2.380952380952381vw;
          }
        }

        .block-info {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;

          p {
            margin: 0;
            font-size: 2.380952380952381vw;
          }
        }
      }
    }

    .special-conditions {
      background-color: #f3da80;
      height: 27.88095238095238vw;

      .block-wrapper {
        display: flex;
        justify-content: space-between;

        .block-description {
          margin-top: 2.9761904761904763vw;
        }

        .block-info {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;

          &-content {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 11.904761904761905vw;
            height: 3.3333333333333335vw;
            border: 0.11904761904761904vw solid rgba(0, 0, 0, 0.6);
            border-radius: 59.464285714285715vw;

            transition: 0.3s;

            a {
              display: flex;
              color: rgba(0, 0, 0, 1);
              text-decoration: none;
              font-size: 1.1904761904761905vw;

              img {
                width: 1.4880952380952381vw;
              }
            }

            &:hover {
              transform: scale(1.1);
              transition: 0.2s;
            }

            &:active {
              transform: scale(0.99);
            }
          }
        }
      }
    }
  }
}
