.how-we-working {
  width: 100%;
  height: 100%;

  .title {
    color: #ffffff60;
    font-size: 5.208333333333333vw;
    padding: 0 0 0 3.6458333333333335vw;
  }

  .list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2.0833333333333335vw;
    gap: 0.5208333333333334vw;

    .block {
      border-radius: 2.34375vw;

      padding: 1.5625vw 2.0833333333333335vw;

      &-description {
        margin-top: 1.25vw;

        p {
          color: rgba(32, 31, 30, 0.6);
          font-size: 1.5625vw;
        }
      }

      &-price {
        margin-top: 3.6904761904761907vw;

        p {
          font-size: 3.125vw;
        }
      }
    }

    .dedicated-team,
    .designers-outstaffing {
      width: 49vw;
      height: 19.270833333333332vw;
      background-color: #fff;

      .block-title {
        p {
          font-size: 3.125vw;
        }
      }
    }

    .designers-outstaffing {
      .block-price {
        p .old-price {
          img {
            position: absolute;
            width: 16.354166666666668vw;
            height: 2.5vw;
            left: 55.523809523809526vw;
            filter: drop-shadow(
                0 0.23809523809523808vw 0.23809523809523808vw rgba(0, 0, 0, 0.2)
            );
          }

          color: rgba(32, 31, 30, 0.3);
        }

        p .new-price {
          color: #f44730;
        }
      }
    }

    .dedicated-team,
    .designers-outstaffing,
    .special-conditions {
      color: #000;
    }

    .special-conditions {
      width: 100%;
      background-image: url("/assets/images/noise.png");
      

      .block-title {
        p {
          font-size: 4.166666666666667vw;
          line-height: 1.08;
        }
      }
    }

    .special-conditions {
      background-color: #f3da80;

      .block-wrapper {
        display: flex;
        justify-content: space-between;

        .block-description {
          margin-top: 2.9761904761904763vw;
        }

        .block-info {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;

          &-content {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 11.904761904761905vw;
            height: 3.3333333333333335vw;
            border: 0.11904761904761904vw solid rgba(0, 0, 0, 0.6);
            border-radius: 59.464285714285715vw;

            transition: 0.3s;

            a {
              display: flex;
              color: rgba(0, 0, 0, 1);
              text-decoration: none;
              font-size: 1.1904761904761905vw;

              img {
                width: 1.4880952380952381vw;
                filter: invert(1);
              }
            }

            &:hover {
              transform: scale(1.1);
              transition: 0.2s;
            }

            &:active {
              transform: scale(0.99);
            }
          }
        }
      }
    }
  }
}
