.short-about {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 3.5714285714285716vw;

  .cursive {
    font-family: NewYorkItalic;
    font-style: italic;
  }

  .text {
    color: #201f1e;
    width: 100%;
    height: 100%;
    font-family: Intl, sans-serif;
    padding: 3.5714285714285716vw;
    font-size: 4.761904761904762vw;

    img {
      width: 3.1547619047619047vw;
      height: 3.1547619047619047vw;
    }
  }
}
