.advantages {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5208333333333334vw;

  .block {
    display: flex;
    flex-direction: column;
    width: 49.21875vw;
    height: 100%;
    border-radius: 2.34375vw;
    padding: 1.8229166666666667vw;

    &-title {
      p {
        font-size: 4.166666666666667vw;
      }
    }

    &-description {
      margin-top: auto;

      p {
        font-size: 1.5625vw;
        line-height: 1.875vw;
        color: #ffffffcc;
      }
    }
  }

  .block-1 {
    background-color: #e07ce2;
  }

  .block-2 {
    background-color: #56aeff;
  }
}
