<div
  waIntersectionObserver
  (waIntersectionObservee)="
    intersectionService.onIntersection(
      $event,
      'blockAppearFadeSm',
      'hidden',
      200
    )
  "
  class="advantages hidden"
>
  <div class="right">
    <div class="title"><p>А работать мы можем даже без ТЗ!</p></div>
    <div class="description">
      <p>
        Отсутствие ТЗ — не проблема, ведь мы составим <br />
        его вместе с вами во время обсуждения проекта
      </p>
    </div>
  </div>
  <div class="left"><div class="preview"></div></div>
</div>
