<div class="advantages">
  <div
    waIntersectionObserver
    (waIntersectionObservee)="
      intersectionService.onIntersection(
        $event,
        'blockAppearFadeSm',
        'hidden',
        400
      )
    "
    class="item advantages-item hidden"
  >
    <div class="title">
      <p>
        Продуктовый <br />
        дизайн
      </p>
    </div>
    <div class="description">
      <p>
        Задизайним сайт, сервис, мобильное <br />
        приложение, напишем тексты, соберём <br />
        прототипы, разработаем дизайн-систему
      </p>
    </div>
    <div class="preview">
      <img src="assets/images/cat.png" alt="image here" />
    </div>
  </div>
  <div
    waIntersectionObserver
    (waIntersectionObservee)="
      intersectionService.onIntersection(
        $event,
        'blockAppearFadeSm',
        'hidden',
        600
      )
    "
    class="item advantages-item hidden"
  >
    <div class="title">
      <p>
        Разработка <br />
        и no-code
      </p>
    </div>
    <div class="description">
      <p>
        Соберём сайт на no-code платформе или <br />
        сверстаем кодом, разработаем мобильное <br />
        приложение, сервис, интерфейс
      </p>
    </div>
    <div class="preview">
      <img src="assets/images/cat.png" alt="image here" />
    </div>
  </div>
  <div
    waIntersectionObserver
    (waIntersectionObservee)="
      intersectionService.onIntersection(
        $event,
        'blockAppearFadeSm',
        'hidden',
        800
      )
    "
    class="item advantages-item advantages-item-3 hidden"
  >
    <div class="title">
      <p>Исследования</p>
    </div>
    <div class="description">
      <p>
        Исследуем рынок, построим карту <br />
        пути пользователя, дадим <br />
        рекомендации по юзабилити
      </p>
    </div>
    <div class="preview">
      <img src="assets/images/cat.png" alt="image here" />
    </div>
  </div>
  <div
    waIntersectionObserver
    waIntersectionThreshold="0.4"
    (waIntersectionObservee)="
      intersectionService.onIntersection(
        $event,
        'blockAppearFadeSm',
        'hidden',
        200
      )
    "
    class="item advantages-item hidden"
  >
    <div class="title">
      <p>Контент</p>
    </div>
    <div class="description">
      <p>
        Напишем тексты, понятные для людей, <br />
        нарисуем иллюстрации, всё, что нужно <br />
        анимируем, можем даже в 3D
      </p>
    </div>
    <div class="preview">
      <img src="assets/images/cat.png" alt="image here" />
    </div>
  </div>
  <div
    waIntersectionObserver
    waIntersectionThreshold="0.4"
    (waIntersectionObservee)="
      intersectionService.onIntersection(
        $event,
        'blockAppearFadeSm',
        'hidden',
        400
      )
    "
    class="item advantages-item advantages-item-5 hidden"
  >
    <div class="title">
      <p>
        Брендинг и <br />
        коммуникации
      </p>
    </div>
    <div class="description">
      <p>
        Разработаем визуальную концепцию, <br />
        айдентику, создадим или обновим бренд
      </p>
    </div>
    <div class="preview">
      <img src="assets/images/cat.png" alt="image here" />
    </div>
  </div>
  <div
    waIntersectionObserver
    waIntersectionThreshold="0.4"
    (waIntersectionObservee)="
      intersectionService.onIntersection(
        $event,
        'blockAppearFadeSm',
        'hidden',
        600
      )
    "
    class="item advantages-item hidden"
  >
    <div class="title">
      <p>
        Дизайн- <br />
        поддержка
      </p>
    </div>
    <div class="description">
      <p>
        Встроимся в вашу команду и будем <br />
        помогать дорабатывать продукт или <br />
        создавать контент для него
      </p>
    </div>
    <div class="preview">
      <img src="assets/images/cat.png" alt="image here" />
    </div>
  </div>
</div>
