<div
  waIntersectionObserver
  (waIntersectionObservee)="
    intersectionService.onIntersection(
      $event,
      'blockAppearFadeSm',
      'hidden',
      200
    )
  "
  class="advantages hidden"
>
  <div class="right">
    <div class="title"><p>А работать мы можем даже без ТЗ!</p></div>
    <div class="description">
      <p>
        Отсутствие ТЗ — не проблема, ведь мы составим <br />
        его вместе с вами во время обсуждения проекта
      </p>
    </div>
  </div>
  <div class="left"><div class="preview"></div></div>
  <!-- <div
    waIntersectionObserver
    (waIntersectionObservee)="
      intersectionService.onIntersection(
        $event,
        'blockAppearFadeSm',
        'hidden',
        300
      )
    "
    class="block block-1 hidden"
  >
    <div class="block-title">
      <p>Погрузимся в ваш проект с головой</p>
    </div>
    <div class="block-description">
      <p>
        Перед стартом работы мы изучим сферу, <br />
        проведём анализ рынка и исследования, чтобы <br />
        получить наиболее актуальный результат
      </p>
    </div>
    <div class="preview"></div>
  </div> -->
  <!-- <div
    waIntersectionObserver
    waIntersectionThreshold="0.8"
    (waIntersectionObservee)="
      intersectionService.onIntersection($event, 'blockAppearFadeSm', 'hidden')
    "
    class="block block-2 hidden"
  >
    <div class="block-title">
      <p>А работать можем даже без ТЗ!</p>
    </div>
    <div class="block-description">
      <p>
        Ведь мы составим его во время <br />
        обсуждения и погружения в проект
      </p>
    </div>
  </div> -->
</div>
