.content {
  width: 100%;
  height: 100%;

  #top-space {
    height: 4.5vw;
    background-color: transparent;
  }

  .content-wrapper {
    padding: 0 6.25vw;

    .title {
      p {
        color: #ffffff;
        font-size: 5.208333333333333vw;

        span {
          color: #ffffff60;
          font-style: italic;
        }
      }
    }

    .description {
      margin-top: 1.5625vw;

      p {
        font-size: 1.5625vw;
      }
    }

    .project-list {
      margin-top: 3.6458333333333335vw;
    }
  }

  .lets-work,
  .footer {
    padding: 0 0.5952380952380952vw;
  }

  .lets-work {
    margin-top: 4.6875vw;
  }

  .footer {
    margin-top: 41.5vw;
  }
}
