<div class="content">
  <div id="top-space"></div>
  <div class="content-wrapper">
    <div class="title">
      <p>Проекты студии <span>(2022–2023)</span></p>
    </div>
    <div class="description">
      <p>
        Некоторые проекты находятся под NDA, <br />
        поэтому мы не можем вам их показать
      </p>
    </div>
    <div class="project-list">
      <app-project-list></app-project-list>
    </div>
  </div>
  <div class="lets-work" id="lets-work">
    <app-lets-work></app-lets-work>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
