@font-face {
  font-family: Intl-Book;
  src: url("/assets/fonts/Intl-Book.woff2") format("woff2");
}

@font-face {
  font-family: NewYorkItalic;
  src: url("/assets/fonts/NewYorkItalic.ttf") format("truetype");
}

@font-face {
  font-family: Helvetica Neue;
  src: url("/assets/fonts/Helvetica Neue.woff2") format("woff2");
}

@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

html,
body {
  height: 100%;
  background-color: #000000;
  font-family: $main-font-family;
  color: #ffffff;
}

::selection {
  background: #000000;
  color: #ffffff;
}

img::selection {
  background: none;
  color: #ffffff;
}

#header {
  position: fixed;
  width: 100%;
  background: linear-gradient(0deg, transparent 0, transparent 30%, #00000030);
  z-index: 1;
}

#footer {
  margin-top: 38.5vw;
  padding-bottom: 0.5208333333333334vw;
}

.scroll-disabled {
  overflow: hidden;
}

.hidden {
  opacity: 0;
}

.shown {
  opacity: 1;
}

.blockAppear {
  animation: show 0.5s;
}

.blockAppearFade {
  animation: fade 0.5s;
}

.blockAppearFadeSm {
  animation: fadeSm 0.5s;
}

@keyframes show {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.1;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeSm {
  from {
    opacity: 0.1;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
