@font-face {
  font-family: Intl;
  src: url("/assets/fonts/Intl-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Intl-Book;
  src: url("/assets/fonts/Intl-Book.woff2") format("woff2");
}

@font-face {
  font-family: NewYorkItalic;
  src: url("/assets/fonts/NewYorkItalic.ttf") format("truetype");
}

@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

html,
body {
  height: 100%;
  background-color: #000000;
  font-family: $main-font-family;
  color: #ffffff;
  scroll-behavior: smooth;

}

::selection {
  background: #000000;
}

img::selection {
  background: none;
}

#header {
  position: fixed;
  width: 100%;
  background: linear-gradient(0deg, transparent 0, transparent 30%, #00000030);
  z-index: 1;
}

#footer {
  padding: 0 0.8928571428571429vw 1.7857142857142858vw 0.8928571428571429vw;
}
