<div class="short-info">
  <div class="block-image padding010">
    <div class="wrapper rounded45"></div>
  </div>
  <div class="block-info mtdef padding010">
    <div class="wrapper rounded45">
      <div class="content padding30">
        <div class="section section-1">
          <div class="section-title"><p>ДАТА ВЫПУСКА:</p></div>
          <div class="section-description"><p>май 2022</p></div>
        </div>
        <div class="section section-2">
          <div class="section-title"><p>НАША РОЛЬ:</p></div>
          <div class="section-description mtdef">
            <p>
              айдентика, <br />
              дизайн и сборка сайта
            </p>
          </div>
        </div>
        <div class="section section-3">
          <div class="section-title"><p>ССЫЛКА:</p></div>
          <div class="section-description mtdef">
            <p>
              <a href="https://hotline.sh" target="_blank">
                hotline.sh
                <div class="image">
                  <img
                    [src]="icons.arrowTopRight.link"
                    [alt]="icons.arrowTopRight.description"
                    draggable="false"
                  />
                </div>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
