<div class="footer">
  <div class="content">
    <div class="links">
      <div class="link telegram">
        <a [href]="mediaLink.TELEGRAM" target="_blank">
          <div class="link-image">
            <img
              [src]="icons.razoomartLogo.link"
              [alt]="icons.razoomartLogo.description"
              draggable="false"
            />
          </div>
          <div class="link-text">
            <p>
              <span>Telegram</span>
              <span class="hide-mobile">-канал</span>
              <br />
              @razoomart
            </p>
          </div>
        </a>
      </div>
      <div class="link behance">
        <a [href]="mediaLink.BEHANCE" target="_blank">
          <div class="link-image">
            <img
              [src]="icons.behanceLogo.link"
              [alt]="icons.behanceLogo.description"
              draggable="false"
            />
          </div>
          <div class="link-text">
            <p>
              <span>Беханс</span>
              <br />
              @razoomart
            </p>
          </div>
        </a>
      </div>
    </div>
    <div class="text">
      <a [href]="mediaLink.MAILTO_RAZOOMART">
        <p>razoomart@internet.ru</p>
      </a>
      <span>since 2022</span>
    </div>
  </div>
</div>
