.footer {
  display: flex;
  width: 100%;
  height: 7.604166666666667vw;

  background-color: #201f1e;
  border-radius: 2.0833333333333335vw;

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 1.5625vw 0.78125vw 1.5625vw 1.5625vw;

    a {
      text-decoration: none;
    }

    p,
    span {
      font-size: 1.5625vw;
      color: rgba(255, 255, 255, 0.6);
    }

    .links {
      display: flex;

      .link {
        height: 4.791666666666667vw;
        display: flex;
        align-items: center;

        border-radius: 1vw;
        padding: 0.8vw;

        transition: 0.3s;

        a {
          display: flex;

          img {
            width: 3.4375vw;
            height: 3.4375vw;
            border-radius: 50%;
          }

          p {
            margin-left: 0.5208333333333334vw;
            line-height: 1.15;

            span {
              color: rgba(255, 255, 255, 1);
            }
          }
        }

        &:hover {
          background-color: #d4d4d450;
          color: #ffffff;
          transition: 0.3s;
          transform: scale(1.05);
        }

        &:active {
          transform: scale(0.98);
        }
      }

      .telegram {
        width: 17.5vw;
      }

      .behance {
        width: 14.5vw;
        margin-left: 2vw;
      }
    }

    .text {
      margin-left: auto;
      text-align: end;

      a p {
        padding: 0 1.3020833333vw;
        transition: 0.2s;
        line-height: 2.5vw;
        border-radius: 0.7vw;

        &:hover {
          background-color: #d4d4d450;
          color: #ffffff;
          transition: 0.3s;
          transform: scale(1.05);
        }

        &:active {
          transform: scale(0.95);
        }
      }

      span {
        padding-right: 1.3020833333vw;
      }
    }
  }
}
