<div class="footer">
  <div class="content">
    <div class="links">
      <div class="link telegram">
        <a [href]="mediaLink.TELEGRAM">
          <img
            [src]="icons.razoomartLogo.link"
            [alt]="icons.razoomartLogo.description"
            draggable="false"
          />
          <p>
            <span>Telegram-канал</span>
            <br />
            @razoomart
          </p>
        </a>
      </div>
      <div class="link behance">
        <a [href]="mediaLink.TELEGRAM">
          <img
            [src]="icons.razoomartLogo.link"
            [alt]="icons.razoomartLogo.description"
            draggable="false"
          />
          <p>
            <span>Беханс</span>
            <br />
            @razoomart
          </p>
        </a>
      </div>
    </div>
    <div class="text">
      <p>
        hey@razoomart.ru
        <br />
        since 2022
      </p>
    </div>
  </div>
</div>
