<div class="first-block">
  <div class="content">
    <div class="title">
      <p>Разумная продуктовая <br />дизайн-команда</p>
    </div>
    <div class="memoji albina-memoji">
      <img
        [src]="images.albina.link"
        [alt]="images.albina.description"
        draggable="false"
      />
    </div>
    <div class="memoji ilyaU-memoji">
      <img
        [src]="images.ilyaU.link"
        [alt]="images.ilyaU.description"
        draggable="false"
      />
    </div>
    <div class="description">
      <div class="text">
        <p>
          Создаём цифровые продукты <br />
          и запускаем сервисы для <br />
          стартапов и корпораций
          <span>
            <img
              [src]="icons.sparkles.link"
              [alt]="icons.sparkles.description"
              draggable="false"
          /></span>
        </p>
      </div>
    </div>
    <div class="price-button">
      <a (click)="scroll(anchorPath.PRICE)">
        <p>от 860 ₽/час</p>
      </a>
    </div>
  </div>
</div>
