.first-block {
  width: 100%;
  height: 100%;

  display: flex;
  background-color: #5e6eff;
  background-image: url(/assets/images/noise.png);

  border-bottom-left-radius: 3.125vw;
  border-bottom-right-radius: 3.125vw;

  .content {
    width: 100%;
    height: 100%;
    margin-top: 6.190476190476191vw;
    padding: 0 3.125vw;
    color: #fff;

    .title {
      p {
        font-size: 6.5476190476190474vw;
        line-height: 1;
      }
    }

    .description {
      width: 100%;

      .text {
        width: 85.77380952380952vw;
        height: 11.845238095238095vw;
        padding-top: 12vw;
        font-size: 2.3vw;

        p {
          font-size: 2.3vw;

          span {
            img {
              width: 2.1547619047619047vw;
              height: 2.1547619047619047vw;
            }
          }
        }
      }
    }

    .price-button {
      position: absolute;
      width: 27.03125vw;
      height: 5.989583333333333vw;
      left: 70vw;
      top: 33.25vw;
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: #fff;
      border-radius: 59.464285714285715vw;
      transition: 0.2s;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #201f1e;
        font-size: 3.3854166666666665vw;
        text-decoration: none;

        p {
          color: #000;
        }
      }

      &:hover {
        background-color: #fef747;
        box-shadow: 0 0 2.9761904761904763vw #fef747;
        transform: rotate(-3deg) scale(1.2);
        transition: 0.2s;
      }
    }

    .memoji {
      position: absolute;
      width: 15.261904761904763vw;
      height: 15.261904761904763vw;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .albina-memoji {
      left: 81.89880952380952vw;
      top: 7.619047619047619vw;
      transition: 0.2s;

      img {
        animation: memojiAnim1 10s infinite;
      }

      &:hover {
        transform: rotate(-2deg) scale(1.1);
        transition: 0.5s;

        a {
          cursor: default;
        }
      }
    }

    .ilyaU-memoji {
      left: 69.33333333333333vw;
      top: 14.583333333333334vw;
      transition: 0.2s;

      img {
        animation: memojiAnim2 10s infinite;
      }

      &:hover {
        transform: rotate(2deg) scale(1.1);
        transition: 0.5s;

        a {
          cursor: default;
        }
      }
    }
  }
}

@keyframes memojiAnim1 {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(0.17857142857142858vw);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes memojiAnim2 {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-0.17857142857142858vw);
  }
  100% {
    transform: translateY(0);
  }
}
