.part-one {
  .section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 3.6458333333333335vw;

    &-title {
      width: 40%;

      p {
        font-size: 2.0833333333333335vw;
      }
    }

    &-description {
      width: 57%;

      p {
        font-size: 1.875vw;
      }
    }
  }

  .section-1 {
    padding-left: 3.6458333333333335vw;
    padding-right: 6.25vw;

    .section-description {
      width: 60%;
    }
  }

  .section-2 {
    padding-right: 6.25vw;

    .content {
      width: 100%;
      height: 100%;

      .images {
        display: flex;
        margin-left: auto;

        img {
          margin-left: auto;
          width: 50vw;
          height: 22.916666666666668vw;
        }
      }
    }
  }

  .video {
    position: absolute;
    width: 100%;
    height: 56.25vw;
    margin-top: 12.03125vw;

    .mobile {
      display: none;
    }

    video {
      width: 100%;
      height: 100%;
    }

    &:after {
      position: absolute;
      left: 0;
      width: 100%;
      height: 20.833333333333332vw;
      content: "";
      background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    }

    &:before {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 13.541666666666666vw;
      content: "";
      background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
      transform: rotate(-180deg);
    }
  }

  .section-3 {
    margin-top: 75vw;
    padding-right: 7.5vw;

    .section-description {
      margin-left: auto;
    }
  }

  .section-4 {
    margin-top: 7.8125vw;
    padding: 0;

    .content {
      width: 100%;
      height: 100%;

      .images {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;

        .image {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50%;
          height: 50vw;
        }

        .reverse {
          display: none;
        }

        .image-1 {
          img {
            width: 100%;
            height: 100%;
          }
        }

        .image-2 img {
          width: 38.541666666666664vw;
          height: 22.916666666666668vw;
        }

        .image-3 img {
          width: 37.5875vw;
          height: 39.614583333333336vw;
        }

        .image-4 img {
          width: 19.21875vw;
          height: 38.020833333333336vw;
        }

        .image-2,
        .image-3 {
          background-color: #ddff20;
        }
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .part-one {
    .section {
      padding: 0 5.128205128205129vw;
      flex-direction: column;
      justify-content: flex-start;
      gap: 5.128205128205129vw;

      &-title,
      &-description {
        width: 100% !important;

        p {
          font-size: 4.615384615384615vw;
          line-height: 6vw;
        }
      }
    }

    .section-2 {
      padding: 0 5.128205128205129vw;
      margin-top: 12.820512820512821vw;

      .content {
        .images {
          margin: 0;
          justify-content: center;
          align-items: center;

          img {
            margin: 0;
            width: 89.74358974358974vw;
            height: 39.48717948717949vw;
          }
        }
      }
    }

    .video {
      .desktop {
        display: none;
      }

      .mobile {
        display: block;

        &::after {
          height: 19vw;
        }

        &::before {
          height: 12vw;
        }
      }
    }

    .section-3 {
      margin-top: 87vw;
    }

    .section-4 {
      padding: 0;

      .content {
        .images {
          flex-direction: column;

          .image {
            width: 100%;
            height: 100vw;
          }

          .image-2 img {
            width: 76.92307692307692vw;
            height: 45.8974358974359vw;
          }

          .image-3 img {
            width: 74.35897435897436vw;
            height: 78.2051282051282vw;
          }

          .image-4 img {
            width: 38.46153846153846vw;
            height: 76.92307692307692vw;
          }

          .image-3,
          .image-4 {
            display: none;
          }

          .reverse {
            display: flex;
            flex-direction: column-reverse;

            .image-3,
            .image-4 {
              display: flex;
            }
          }
        }
      }
    }
  }
}
